In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import norm
from tqdm import tqdm
from scipy.ndimage.interpolation import shift
import scipy.stats as sst
import seaborn as sns
import time
import warnings
warnings.filterwarnings('ignore')

from arch import arch_model

In [4]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [5]:
from pathlib import Path
# OUTPUT_PATH = Path(r"C:\Users\USER\OneDrive\바탕 화면\임우섭\01. 카이스트\02. 입학후\03. 24-2학기\08. 파생상품 거래전략\04. 과제\02. Term project")

# CWD_PATH = Path.cwd()
# OUTPUT_PATH = CWD_PATH / "output"
# DATA_PATH = CWD_PATH / "data"

In [7]:
import os
import pandas as pd

# Get the current directory
current_dir = os.getcwd()

# List all files in the current directory
all_files = os.listdir(current_dir)

# Filter files starting with 'hc_pnl' and ending with '.pkl'
pickle_files = [file for file in all_files if file.startswith('hc_pnl') and file.endswith('.pkl')]

# Initialize an empty list to store DataFrames
dataframes = []

# Load each pickle file into a DataFrame and append it to the list
for file in pickle_files:
    df = pd.read_pickle(file)
    dataframes.append(df)

# Merge all DataFrames into one
merged_df = pd.concat(dataframes, ignore_index=True)

# Display the merged DataFrame

In [12]:
merged_df

    Hedging Cost           PnL
0  1202963878.83 -428878630.30
1  1193641578.56 -311240534.53
2  1096397446.48 -322312197.95
3  1340799472.32 -203464577.81
4  1364469231.84 -169099349.22
5  1268000600.19 -130665705.68
6  1474409245.18 -400695167.90
7  1466142427.87 -464692541.27
8  1387939701.28 -314225624.00
9  1308508319.32 -305749038.46
10 1331708002.51 -299346244.46
11 1215204000.98 -225731471.08
12 1262415119.69   54072026.36
13 1290077115.89 -135481474.26
14 1183922989.60  132564156.45
15 1187877422.92 -193387344.45
16 1192487545.18 -193524944.86
17 1050254698.31  -47363303.86
18 1208617489.50   21601054.80
19 1222082956.07 -243717265.49
20 1071788939.57  158429604.72
21 1259424039.63 -249047670.86
22 1262432260.98 -283304830.57
23 1183400879.70 -173024510.92
24 1433628004.03 -190062540.36
25 1441138980.91 -319750373.99
26 1472663027.07 -332961488.28
27 1269832191.34 -255701219.24
28 1309203174.79 -218129908.05
29 1208354965.06 -187486633.72
30 1267061192.65  247722139.57
31 1333131432.68 -364721087.15
32 1250711037.44  -94131759.13

In [11]:
merged_df.describe()

       Hedging Cost           PnL
count         33.00         33.00
mean  1273051192.98 -195257832.00
std    109733009.50  167389665.02
min   1050254698.31 -464692541.27
25%   1202963878.83 -311240534.53
50%   1262432260.98 -218129908.05
75%   1333131432.68 -135481474.26
max   1474409245.18  247722139.57