# 자계추 HW1 EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [2]:
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'

## Load data

In [3]:
CRSP_M_df = pd.read_csv(DATA_DIR / 'CRSP_M.csv')
permno_df = pd.read_csv(DATA_DIR / 'compustat_permno.csv') 
sample_df = pd.read_csv(DATA_DIR / 'assignment1_sample_data.csv')

In [4]:
sample_df # 이게 우리가 만들어야 하는 대상.

,permno,date,year,exchcd,siccd,retadj,eretadj,altprc_lag1,ME_lag1,ME_Jun,BM
0,10001,20121231,2012,2,4925,-0.015231,-0.015331,9.520000,77.654644,82.375603,0.836094
1,10002,20121231,2012,3,6020,0.010946,0.010846,2.749900,49.404705,53.700400,2.942148
2,10025,20121231,2012,3,3081,-0.020992,-0.021092,60.500000,334.625500,240.395996,0.406675
3,10026,20121231,2012,3,2052,0.018173,0.018073,62.900002,1179.312129,1117.108171,0.476147
4,10032,20121231,2012,3,3670,0.114471,0.114371,23.150000,812.125137,986.520627,0.589484
...,...,...,...,...,...,...,...,...,...,...,...
3193,93428,20121231,2012,3,9999,0.148593,0.148493,31.629999,880.421027,798.498921,0.163951
3194,93429,20121231,2012,3,9999,0.007672,0.007572,29.980000,2616.414520,2415.688987,0.112264
3195,93433,20121231,2012,3,9999,-0.517704,-0.517804,0.850100,39.250816,28.621680,1.187065
3196,93434,20121231,2012,3,9999,0.037634,0.037534,7.440000,58.575120,36.358170,0.569317
3197,93436,20121231,2012,3,9999,0.001478,0.001378,33.820000,3848.005745,3295.556766,0.074994

In [5]:
CRSP_M_df # 교수님이 한 번 처리해놓은 데이터. 이거 가지고 작업하면 됨.

,DATE,DLSTCD,PERMNO,SHRCD,EXCHCD,SICCD,DLRET,PERMCO,PRC,VOL,RET,SHROUT,ALTPRC,rf
0,19610131,NaN,10006,10,1,3740.0,NaN,22156,50.25,939.0,0.322368,1420.0,50.2500,0.0019
1,19610131,NaN,10014,10,1,3710.0,NaN,22157,4.00,395.0,0.000000,2504.0,4.0000,0.0019
2,19610131,NaN,10030,10,1,3310.0,NaN,22160,41.75,280.0,0.087948,1627.0,41.7500,0.0019
3,19610131,NaN,10057,11,1,3540.0,NaN,20020,54.00,152.0,0.142857,500.0,54.0000,0.0019
4,19610131,NaN,10102,10,1,2810.0,NaN,22164,79.50,480.0,0.032468,3965.0,79.5000,0.0019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921188,20121231,574.0,76999,11,3,7372.0,-0.765517,11056,NaN,123365.0,NaN,6855.0,0.3120,0.0001
2921189,20121231,580.0,93007,11,3,9999.0,-0.774834,53201,NaN,121619.0,NaN,57097.0,0.6307,0.0001
2921190,20121231,584.0,38790,11,2,1311.0,-0.762470,1933,NaN,21350.0,NaN,19048.0,0.3321,0.0001
2921191,20121231,584.0,89761,11,2,3714.0,2.520000,44123,NaN,39636.0,NaN,7107.0,0.3700,0.0001
2921192,20121231,585.0,11652,11,3,6036.0,-0.188329,9473,NaN,760.0,NaN,3748.0,15.7400,0.0001

In [6]:
permno_df # CRSP COMPUSTAT MERGE (CCM) /

,gvkey,datadate,itcb,pstk,pstkl,pstkrv,seq,txdb,permno,permco
0,1000,19611231,0.0,NaN,0.0,NaN,NaN,0.000,NaN,NaN
1,1000,19621231,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1000,19631231,0.0,0.0,0.0,0.0,0.553,0.008,NaN,NaN
3,1000,19641231,0.0,0.0,0.0,0.0,0.607,0.020,NaN,NaN
4,1000,19651231,0.0,0.0,0.0,0.0,0.491,0.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
434264,316056,20111231,0.0,0.0,0.0,0.0,1413.800,NaN,NaN,NaN
434265,316056,20121231,0.0,0.0,0.0,0.0,1343.200,NaN,NaN,NaN
434266,317264,20120331,0.0,0.0,0.0,0.0,17.608,0.000,NaN,NaN
434267,318970,20111231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434268,318970,20121231,0.0,0.0,0.0,0.0,22.286,1.510,NaN,NaN