# 투자분석 hw2 

20249433 최재필

In [31]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

## (a)

- MSFT
- GOOG
- KO

## (b)

In [19]:
df = pd.read_csv('wrds_stock_return.csv')
df['date'] = pd.to_datetime(df['date'])
df = df[df['TICKER'].isin(['MSFT', 'GOOG', 'KO'])]
df # 5-year monthly data

     PERMNO       date TICKER          COMNAM       RET      RETX
0     10107 2019-01-31   MSFT  MICROSOFT CORP  0.028158  0.028158
1     10107 2019-02-28   MSFT  MICROSOFT CORP  0.077181  0.072776
2     10107 2019-03-29   MSFT  MICROSOFT CORP  0.052754  0.052754
3     10107 2019-04-30   MSFT  MICROSOFT CORP  0.107343  0.107343
4     10107 2019-05-31   MSFT  MICROSOFT CORP -0.049464 -0.052986
..      ...        ...    ...             ...       ...       ...
175   14542 2023-08-31   GOOG    ALPHABET INC  0.031853  0.031853
176   14542 2023-09-29   GOOG    ALPHABET INC -0.040044 -0.040044
177   14542 2023-10-31   GOOG    ALPHABET INC -0.049678 -0.049678
178   14542 2023-11-30   GOOG    ALPHABET INC  0.068795  0.068795
179   14542 2023-12-29   GOOG    ALPHABET INC  0.052345  0.052345

[180 rows x 6 columns]

- `RET`: return
- `RETX`: return excluding dividend

In [20]:
ret_df = df.pivot(index='date', columns='TICKER', values='RET')
retx_df = df.pivot(index='date', columns='TICKER', values='RETX')

In [21]:
ret_df.head()

TICKER          GOOG        KO      MSFT
date
2019-01-31  0.077983  0.016473  0.028158
2019-02-28  0.003180 -0.057968  0.077181
2019-03-29  0.047673  0.042347  0.052754
2019-04-30  0.012929  0.046948  0.107343
2019-05-31 -0.071394  0.001427 -0.049464

### Calculate historical arithmetic average & SD for each stock

#### `RET`

In [22]:
ret_df.mean(axis=0)

TICKER
GOOG    0.019821
KO      0.007690
MSFT    0.024874
dtype: float64

In [23]:
ret_df.std(axis=0)

TICKER
GOOG    0.077974
KO      0.052853
MSFT    0.063462
dtype: float64

In [24]:
ret_df.cov()

TICKER      GOOG        KO      MSFT
TICKER
GOOG    0.006080  0.001389  0.003342
KO      0.001389  0.002793  0.001177
MSFT    0.003342  0.001177  0.004027

In [50]:
ret_df.corr()

TICKER      GOOG       KO      MSFT
TICKER
GOOG    1.000000  0.33696  0.675391
KO      0.336960  1.00000  0.350890
MSFT    0.675391  0.35089  1.000000

#### `RETX`

In [25]:
retx_df.mean(axis=0)

TICKER
GOOG    0.019821
KO      0.005095
MSFT    0.023991
dtype: float64

In [26]:
retx_df.std(axis=0)

TICKER
GOOG    0.077974
KO      0.053408
MSFT    0.063469
dtype: float64

In [27]:
retx_df.cov()

TICKER      GOOG        KO      MSFT
TICKER
GOOG    0.006080  0.001442  0.003344
KO      0.001442  0.002852  0.001172
MSFT    0.003344  0.001172  0.004028

## (c)

## (d)

## (e)

## (f)

In [28]:
opt_port_mean = 0.0197
opt_port_std = 0.0517

In [43]:
alpha = 0.05

In [33]:
# Value at Risk
VaR = opt_port_mean + opt_port_std * stats.norm.ppf(alpha)
VaR

-0.06533893251339115

In [35]:
# Expected Shortfall
ES = opt_port_mean - opt_port_std * stats.norm.pdf(stats.norm.ppf(alpha)) / alpha
ES

-0.0869422521481339

In [44]:
stats.norm.pdf(stats.norm.ppf(alpha))

0.10313564037537128

In [40]:
stats.norm.ppf(alpha)

-1.6448536269514729

In [45]:
stats.norm.pdf(-1.6448536269514729)

0.10313564037537128

In [47]:
stats.norm.pdf(0)

0.3989422804014327

In [46]:
stats.norm.cdf(-1.6448536269514729)

0.049999999999999975

In [39]:
from scipy.stats import norm

# Given mean and standard deviation for the returns
mean = 0.0197
std_dev = 0.0517

# Set the confidence level for VaR and ES
confidence_level = 0.95

# Calculate the z-score for the given confidence level
z_score = norm.ppf(confidence_level)

# Calculate VaR (Value at Risk) for the left-tail risk
VaR = mean - z_score * std_dev

# For a normal distribution, the Expected Shortfall (ES) at a given confidence level can be computed using the formula:
# ES = mean - (pdf(z_score)/(1 - confidence_level)) * std_dev
# where pdf(z_score) is the probability density function of the normal distribution at the z_score
ES = mean - (norm.pdf(z_score) / (1 - confidence_level)) * std_dev

VaR, ES

(-0.06533893251339112, -0.08694225214813392)

In [41]:
z_score

1.6448536269514722

## (g)