# HW3

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import binom, norm

import itertools

from math import comb

## 2.

In [2]:
n = 400
p = 0.03

In [4]:
mu = n*p
sigma = np.sqrt(n*p*(1-p))

mu, sigma**2

(12.0, 11.64)

### (a)

In [5]:
p_alt = 0.05

n * p_alt

20.0

In [6]:
norm.sf(n*p_alt, mu, sigma)

0.009517584141045922

### (b)

In [7]:
binom.sf(n*p_alt, n, p)

0.0104537418434361

## 3.

In [8]:
mu = 10
sigma = 2

In [9]:
def to_z(x, mu, sigma):
    return (x - mu) / sigma

In [10]:
lower = to_z(6, mu, sigma)
upper = to_z(14, mu, sigma)

### (a)

In [11]:
prob_between = norm.cdf(upper) - norm.cdf(lower)
prob_between

0.9544997361036416

### (b)

In [12]:
norm.ppf(0.95, loc=mu, scale=sigma)

13.289707253902945

### (c)

In [13]:
# n = 4
mean = 10
std = 2

In [14]:
x1x2x3x4_mean = mean * 4
x1x2x3x4_var = 4 * std**2
x1x2x3x4_std = np.sqrt(x1x2x3x4_var)

x1x2x3x4_mean, x1x2x3x4_std

(40, 4.0)

In [15]:
norm.cdf(48, x1x2x3x4_mean, x1x2x3x4_std)

0.9772498680518208

## 4.

In [2]:
n = 160
p = 0.2

In [5]:
EX = n*p
Var = n*p*(1-p)
std = np.sqrt(Var)

EX, Var, std

(32.0, 25.6, 5.059644256269407)

approximately, X~N(32, 25.6)

In [6]:
z = (50 - EX)/std
z

3.557562367689427

In [10]:
norm.sf(z)

0.00018715612355430067

## 5.

In [17]:
pool = [0, 1, 2]

choices = list(itertools.combinations_with_replacement(pool, 2))
choices

[(0, 0), (0, 1), (0, 2), (1, 1), (1, 2), (2, 2)]

In [24]:
choices_X1X2 = [(tup1, tup2) for tup1 in choices for tup2 in choices]
len(choices_X1X2)

36

In [20]:
prob_mapping = {
    0: 0.1,
    1: 0.2,
    2: 0.7,
}

In [21]:
def size2_prob(tup):
    x1, x2 = tup
    return prob_mapping[x1] * prob_mapping[x2]

In [27]:
def joint_prob(tupX1X2):
    tupX1, tupX2 = tupX1X2
    return tupX1, tupX2, size2_prob(tupX1) * size2_prob(tupX2)

In [31]:
probs_df = pd.DataFrame([joint_prob(tup) for tup in choices_X1X2], columns=['X1', 'X2', 'prob'])

In [32]:
probs_df.pivot_table(index='X1', columns='X2', values='prob')

X2      (0, 0)  (0, 1)  (0, 2)  (1, 1)  (1, 2)  (2, 2)
X1
(0, 0)  0.0001  0.0002  0.0007  0.0004  0.0014  0.0049
(0, 1)  0.0002  0.0004  0.0014  0.0008  0.0028  0.0098
(0, 2)  0.0007  0.0014  0.0049  0.0028  0.0098  0.0343
(1, 1)  0.0004  0.0008  0.0028  0.0016  0.0056  0.0196
(1, 2)  0.0014  0.0028  0.0098  0.0056  0.0196  0.0686
(2, 2)  0.0049  0.0098  0.0343  0.0196  0.0686  0.2401