# HW3

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import binom, norm

import itertools

from math import comb

## 2.

In [2]:
n = 400
p = 0.03

In [4]:
mu = n*p
sigma = np.sqrt(n*p*(1-p))

mu, sigma**2

(12.0, 11.64)

### (a)

In [5]:
p_alt = 0.05

n * p_alt

20.0

In [6]:
norm.sf(n*p_alt, mu, sigma)

0.009517584141045922

### (b)

In [7]:
binom.sf(n*p_alt, n, p)

0.0104537418434361

## 3.

In [8]:
mu = 10
sigma = 2

In [9]:
def to_z(x, mu, sigma):
    return (x - mu) / sigma

In [10]:
lower = to_z(6, mu, sigma)
upper = to_z(14, mu, sigma)

### (a)

In [11]:
prob_between = norm.cdf(upper) - norm.cdf(lower)
prob_between

0.9544997361036416

### (b)

In [12]:
norm.ppf(0.95, loc=mu, scale=sigma)

13.289707253902945

### (c)

$ X_i \sim N(10, 2^2) , n=4 $

So, 

$ \bar{X} \sim N(10, \frac{2^2}{4}) $

In [3]:
n = 4
mean = 10
std = 2

x_bar_mean = mean
x_bar_std = std / np.sqrt(n)

In [4]:
norm.cdf(12, x_bar_mean, x_bar_std)

0.9772498680518208

원래 풀었던 대로 아래처럼 풀 수도 있음. 그러나 이럴 필요가 없음.

In [14]:
# x1x2x3x4_mean = mean * 4
# x1x2x3x4_var = 4 * std**2
# x1x2x3x4_std = np.sqrt(x1x2x3x4_var)

# x1x2x3x4_mean, x1x2x3x4_std

(40, 4.0)

In [15]:
# norm.cdf(48, x1x2x3x4_mean, x1x2x3x4_std)

0.9772498680518208

## 4.

In [2]:
n = 160
p = 0.2

In [5]:
EX = n*p
Var = n*p*(1-p)
std = np.sqrt(Var)

EX, Var, std

(32.0, 25.6, 5.059644256269407)

approximately, X~N(32, 25.6)

In [6]:
z = (50 - EX)/std
z

3.557562367689427

In [10]:
norm.sf(z)

0.00018715612355430067

## 5.

In [33]:
pool = [0, 1, 2]

choices = [(X1, X2) for X1 in pool for X2 in pool]
choices

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [44]:
prob_mapping = {
    0: 0.1,
    1: 0.2,
    2: 0.7,
}

In [45]:
def size2_prob(tup):
    x1, x2 = tup
    return prob_mapping[x1] * prob_mapping[x2]

In [46]:
probs_df = pd.DataFrame([(X1, X2, size2_prob((X1, X2))) for X1, X2 in choices], columns=['X1', 'X2', 'P(X1, X2)'])
probs_df

   X1  X2  P(X1, X2)
0   0   0       0.01
1   0   1       0.02
2   0   2       0.07
3   1   0       0.02
4   1   1       0.04
5   1   2       0.14
6   2   0       0.07
7   2   1       0.14
8   2   2       0.49

In [47]:
probs_df['max(X1,X2)'] = probs_df[['X1', 'X2']].max(axis=1)
probs_df['X1+X2'] = probs_df['X1'] + probs_df['X2']

In [48]:
probs_df

   X1  X2  P(X1, X2)  max(X1,X2)  X1+X2
0   0   0       0.01           0      0
1   0   1       0.02           1      1
2   0   2       0.07           2      2
3   1   0       0.02           1      1
4   1   1       0.04           1      2
5   1   2       0.14           2      3
6   2   0       0.07           2      2
7   2   1       0.14           2      3
8   2   2       0.49           2      4

In [49]:
probs_df[['X1+X2', 'P(X1, X2)']].groupby('X1+X2').sum()

       P(X1, X2)
X1+X2
0           0.01
1           0.04
2           0.18
3           0.28
4           0.49

In [51]:
probs_df[['max(X1,X2)', 'P(X1, X2)']].groupby('max(X1,X2)').sum()

            P(X1, X2)
max(X1,X2)
0                0.01
1                0.08
2                0.91