# 금공프3 Final

20249433 MFE 최재필

In [1]:
import numpy as np
import pandas as pd

## 1. Mean-Variance Optimization

In [3]:
# 1. 

X = None # 수익률 
Q = None # 공분산 행렬
r = None # 기대값

In [4]:
# 2. 

w = None # 포트폴리오 비중

mu = None # 포트폴리오 P의 기대수익률
var = None # 포트폴리오 P의 분산
sigma = np.sqrt(var) # 포트폴리오 P의 표준편차

TypeError: loop of ufunc does not support argument 0 of type NoneType which has no callable sqrt method

In [5]:
# 3. 

objective = None # 목적함수

In [6]:
# 4. 

Lagrangian = None # 라그랑지안 편미분 행렬

### (1) `MVportfolio`

In [ ]:
def MVportfolio():
    ## 수익률은 log 차분 수익률로 계산

    asset = None # k개의 자산 별 가격을 m일 동안 수집한 mxk 의 dataframe
    w = None # k개의 자산 별 가중치
    var = None # 포트폴리오 P의 분산

    return asset, w, var

### (2) Efficient Frontier

In [7]:
it = pd.read_csv('it.csv')
it

           Date        AAPL     GOOG        MSFT         IBM          T
0    2018-01-02  169.714086  1065.00   84.484767  147.537554  36.382354
1    2018-01-03  169.684530  1082.48   84.877948  151.593043  35.542180
2    2018-01-04  170.472706  1086.40   85.624992  154.663355  35.872586
3    2018-01-05  172.413591  1102.23   86.686581  155.418977  36.004748
4    2018-01-08  171.773197  1106.94   86.775047  156.356330  36.108590
..          ...         ...      ...         ...         ...        ...
227  2018-11-26  174.620000  1048.62  106.470000  119.560000  29.950000
228  2018-11-27  174.240000  1044.41  107.140000  120.030000  30.440000
229  2018-11-28  180.940000  1086.23  111.120000  123.000000  30.740000
230  2018-11-29  179.550000  1088.30  110.190000  121.480000  30.570000
231  2018-11-30  178.580000  1094.43  110.890000  124.270000  31.240000

[232 rows x 6 columns]

## 2. Momentum

## 3. Monte-Carlo Simulation