# 금공프3 Final

20249433 MFE 최재필

In [1]:
from functools import reduce

import numpy as np
import pandas as pd

## 1. Mean-Variance Optimization

In [111]:
# 1

In [112]:
# asset = pd.read_csv('price.csv')

In [113]:
asset = pd.read_csv('it.csv')

In [114]:
asset

           Date        AAPL     GOOG        MSFT         IBM          T
0    2018-01-02  169.714086  1065.00   84.484767  147.537554  36.382354
1    2018-01-03  169.684530  1082.48   84.877948  151.593043  35.542180
2    2018-01-04  170.472706  1086.40   85.624992  154.663355  35.872586
3    2018-01-05  172.413591  1102.23   86.686581  155.418977  36.004748
4    2018-01-08  171.773197  1106.94   86.775047  156.356330  36.108590
..          ...         ...      ...         ...         ...        ...
227  2018-11-26  174.620000  1048.62  106.470000  119.560000  29.950000
228  2018-11-27  174.240000  1044.41  107.140000  120.030000  30.440000
229  2018-11-28  180.940000  1086.23  111.120000  123.000000  30.740000
230  2018-11-29  179.550000  1088.30  110.190000  121.480000  30.570000
231  2018-11-30  178.580000  1094.43  110.890000  124.270000  31.240000

[232 rows x 6 columns]

In [115]:
# asset.set_index('date', inplace=True)
asset.set_index('Date', inplace=True)

In [116]:
asset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 232 entries, 2018-01-02 to 2018-11-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    232 non-null    float64
 1   GOOG    232 non-null    float64
 2   MSFT    232 non-null    float64
 3   IBM     232 non-null    float64
 4   T       232 non-null    float64
dtypes: float64(5)
memory usage: 10.9+ KB

In [117]:
asset.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-16',
       ...
       '2018-11-16', '2018-11-19', '2018-11-20', '2018-11-21', '2018-11-23',
       '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30'],
      dtype='object', name='Date', length=232)

In [118]:
asset_2d = asset.to_numpy()
asset_2d

array([[ 169.7140864 , 1065.        ,   84.48476724,  147.5375538 ,
          36.38235422],
       [ 169.6845298 , 1082.48      ,   84.87794824,  151.5930431 ,
          35.54218049],
       [ 170.4727062 , 1086.4       ,   85.62499214,  154.6633546 ,
          35.87258589],
       ...,
       [ 180.94      , 1086.23      ,  111.12      ,  123.        ,
          30.74      ],
       [ 179.55      , 1088.3       ,  110.19      ,  121.48      ,
          30.57      ],
       [ 178.58      , 1094.43      ,  110.89      ,  124.27      ,
          31.24      ]])

In [119]:
X = np.log(asset_2d[1:]/asset_2d[:-1]) # 수익률 (수익률은 log 차분 수익률로 계산)
X.shape

(231, 5)

In [120]:
X_df = pd.DataFrame(X, columns=asset.columns)

In [121]:
Q = X_df.cov(min_periods=2).to_numpy()

In [122]:
np.isnan(Q).sum()

0

In [123]:
r = np.nanmean(X, axis=0) # 기대값 (수익률 평균)
r = r.reshape(-1, 1)

In [124]:
l = np.ones(r.shape) # 1 벡터

In [125]:
Q_l_r = np.hstack([Q, l, r])

In [126]:
zero = np.zeros(l.shape)

In [127]:
l_0_0 = np.hstack([l.T, [[0]], [[0]]])

In [128]:
r_0_0 = np.hstack([r.T, [[0]], [[0]]])

In [129]:
L = np.vstack([Q_l_r, l_0_0, r_0_0])

In [130]:
MU = 0.01 # 주어진 포트폴리오 수익률

In [131]:
np.nanmean(r)

2.262958348045311e-05

In [133]:
zero_l_mu = np.vstack([zero, [[0]], [[MU]]])

In [134]:
L_inv = np.linalg.inv(L)

In [135]:
w_lmda1_lmda2 = L_inv @ zero_l_mu

In [136]:
w = w_lmda1_lmda2[:-2]

In [137]:
lmda1 = w_lmda1_lmda2[-2]
lmda2 = w_lmda1_lmda2[-1]

In [138]:
var = w.T @ Q @ w
var

array([[0.00462093]])

### (1) `MVportfolio`

In [ ]:
def MVportfolio(asset, mu_p):
    price_2d = price.to_numpy()

    # 1. 

    X = None # 수익률 (수익률은 log 차분 수익률로 계산)
    Q = None # 공분산 행렬
    r = None # 기대값 (수익률 평균)

    asset = None # k개의 자산 별 가격을 m일 동안 수집한 mxk 의 dataframe
    w = None # k개의 자산 별 가중치
    var = None # 포트폴리오 P의 분산

    return asset, w, var

### (2) Efficient Frontier

In [ ]:
it = pd.read_csv('it.csv')
it

           Date        AAPL     GOOG        MSFT         IBM          T
0    2018-01-02  169.714086  1065.00   84.484767  147.537554  36.382354
1    2018-01-03  169.684530  1082.48   84.877948  151.593043  35.542180
2    2018-01-04  170.472706  1086.40   85.624992  154.663355  35.872586
3    2018-01-05  172.413591  1102.23   86.686581  155.418977  36.004748
4    2018-01-08  171.773197  1106.94   86.775047  156.356330  36.108590
..          ...         ...      ...         ...         ...        ...
227  2018-11-26  174.620000  1048.62  106.470000  119.560000  29.950000
228  2018-11-27  174.240000  1044.41  107.140000  120.030000  30.440000
229  2018-11-28  180.940000  1086.23  111.120000  123.000000  30.740000
230  2018-11-29  179.550000  1088.30  110.190000  121.480000  30.570000
231  2018-11-30  178.580000  1094.43  110.890000  124.270000  31.240000

[232 rows x 6 columns]

## 2. Momentum

## 3. Monte-Carlo Simulation