In [1]:
import pandas as pd
import numpy as np
from portsort import portsort

import matplotlib.pyplot as plt

from pathlib import Path
from fndata import FnStockData
from pandas.tseries.offsets import MonthEnd
from pandas.tseries.offsets import YearEnd
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'
fndata_path = DATA_DIR / '고금계과제1_v3.3_201301-202408.csv'
fn = FnStockData(fndata_path)
df = fn.get_data()

In [2]:
df

Item Name          FnGuide Sector 거래정지여부 관리종목여부  기말발행주식수 (보통)(주)  \
date       Symbol
2013-01-31 A000020             의료     정상     정상       27931470.0
           A000040          경기소비재     정상     정상      119341379.0
           A000050          경기소비재     정상     정상        2492298.0
           A000070            산업재     정상     정상        7704997.0
           A000080          필수소비재     정상     정상       69477714.0
...                           ...    ...    ...              ...
2024-09-19 A037950             IT     정상     정상       84447519.0
           A038880             IT     정상     정상      315334702.0
           A001260            산업재     정상     정상        9832571.0
           A019660          필수소비재     정상     정상       34790746.0
           A023460          경기소비재     정상     정상       37200000.0

Item Name                매출액(천원)      매출원가(천원)   보통주자본금(천원)  수익률 (1개월)(%)  \
date       Symbol
2013-01-31 A000020  2.202406e+08  1.165344e+08   27931470.0         -0.17
           A000040  9.955327e+07  9.199679e+07   59670690.0          0.20
           A000050  3.471896e+08  2.514682e+08   12461490.0         -3.46
           A000070  2.329145e+09  2.025952e+09   40852325.0         -4.51
           A000080  1.897469e+09  1.074666e+09  363168055.0          5.26
...                          ...           ...          ...           ...
2024-09-19 A037950           NaN           NaN          NaN         -9.10
           A038880           NaN           NaN          NaN        -16.03
           A001260           NaN           NaN          NaN         -5.37
           A019660           NaN           NaN          NaN         -1.84
           A023460           NaN           NaN          NaN        -12.39

Item Name           수정계수  수정주가(원)     영업이익(천원)  이연법인세부채(천원)    이익잉여금(천원)  \
date       Symbol
2013-01-31 A000020   1.0   6030.0    2062220.0          0.0  170147330.0
           A000040   1.0   8727.0   -3486600.0    7181340.0    1298918.0
           A000050   1.0   7874.0   36031739.0   90652345.0  612310562.0
           A000070   1.0  67800.0    2472122.0  110818108.0  871019983.0
           A000080   1.0  32000.0  161051461.0   23405084.0  422540903.0
...                  ...      ...          ...          ...          ...
2024-09-19 A037950   1.0   1198.0          NaN          NaN          NaN
           A038880   1.0    220.0          NaN          NaN          NaN
           A001260   1.0   6350.0          NaN          NaN          NaN
           A019660   1.0    588.0          NaN          NaN          NaN
           A023460   1.0    410.0          NaN          NaN          NaN

Item Name             이자비용(천원)     자기주식(천원)    자본잉여금(천원)    종가(원)  \
date       Symbol
2013-01-31 A000020    384335.0          0.0   26919758.0   6030.0
           A000040    813333.0      -5044.0    3884892.0    495.0
           A000050  13944625.0          0.0   13991400.0  86500.0
           A000070  17176000.0   -9982000.0  355855971.0  67800.0
           A000080  56438096.0 -122693570.0  709299321.0  32000.0
...                        ...          ...          ...      ...
2024-09-19 A037950         NaN          NaN          NaN   1198.0
           A038880         NaN          NaN          NaN    220.0
           A001260         NaN          NaN          NaN   6350.0
           A019660         NaN          NaN          NaN    588.0
           A023460         NaN          NaN          NaN    410.0

Item Name                총자산(천원)
date       Symbol
2013-01-31 A000020  3.161655e+08
           A000040  1.169316e+08
           A000050  1.296989e+09
           A000070  2.595068e+09
           A000080  3.553147e+09
...                          ...
2024-09-19 A037950           NaN
           A038880           NaN
           A001260           NaN
           A019660           NaN
           A023460           NaN

[354770 rows x 18 columns]

In [3]:
df.to_csv('df.csv')

In [4]:
df['FnGuide Sector'].value_counts()

FnGuide Sector
IT       83612
경기소비재    56829
산업재      46205
소재       36786
의료       32077
필수소비재    19792
에너지       6780
유틸리티      2199
통신서비스     1012
Name: count, dtype: int64

# BM

In [5]:
df2=df.reset_index().copy()
year_end=sorted(list(set(df2['date']+YearEnd(0))))[:-1]


share_equity=fn.get_data('보통주자본금(천원)')
retained_capital=fn.get_data('자본잉여금(천원)')
retained_earning=fn.get_data('이익잉여금(천원)')
treasury=fn.get_data('자기주식(천원)')
tax=fn.get_data('이연법인세부채(천원)')
price=fn.get_data('수정주가(원)')
listed_stocks=fn.get_data('기말발행주식수 (보통)(주)')

me=listed_stocks*price

be=share_equity+retained_capital.fillna(0)+retained_earning.fillna(0)+treasury+tax.fillna(0)

be=be.loc[year_end]
me=me.loc[year_end]
bm=be/me

In [6]:
bm

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-12-31,1.834938,0.078162,26.850273,2.245327,0.902534,4.015637,0.978551,4.952532,1.295443,26.806082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31,1.465210,0.027693,14.872704,1.800332,0.835505,4.572670,0.506107,4.172397,1.594651,22.682859,...,0.063888,0.043711,0.733136,3.825842,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,0.999159,0.020804,14.335314,1.034724,0.831997,3.055083,0.536916,3.813676,1.503372,12.536361,...,NaN,NaN,0.201085,3.700131,0.617133,0.624200,0.813229,NaN,NaN,NaN
2016-12-31,1.103032,0.026864,1.866978,1.377709,0.901570,4.428765,0.586666,4.268258,1.366592,1.596539,...,0.231059,NaN,0.126961,3.683084,0.475192,1.101101,0.570962,1.075456,NaN,NaN
2017-12-31,1.073605,NaN,2.102387,1.384347,0.741914,3.949805,0.752807,5.092851,1.380881,1.927562,...,NaN,NaN,0.030677,1.100300,0.502413,0.967070,1.171055,1.330464,NaN,NaN
2018-12-31,1.163076,0.055417,2.726104,2.226111,1.027511,3.931656,0.658814,7.236117,1.286983,2.509902,...,0.665964,NaN,0.064427,1.434807,0.592882,1.553940,1.381794,0.736464,NaN,NaN
2019-12-31,1.284049,0.028204,3.308644,2.636579,0.523038,3.129849,0.711852,3.666134,1.953501,3.057242,...,0.752428,NaN,0.192530,1.051528,0.656056,0.471949,1.611950,0.810318,0.226622,NaN
2020-12-31,0.592508,0.113906,2.375639,2.520269,0.492168,0.395013,0.766130,3.394713,3.225388,2.231255,...,0.498492,NaN,0.093013,0.800517,0.588209,0.352773,1.682207,0.783887,0.186696,NaN
2021-12-31,0.849788,0.135815,2.151962,2.166487,0.528481,0.456378,1.024284,4.250775,1.547871,2.076582,...,0.382251,NaN,0.049615,0.583947,0.730683,0.320269,NaN,0.914365,0.177970,NaN
2022-12-31,1.421171,0.134159,2.699309,3.187922,0.667816,0.469473,1.457083,5.560295,1.957592,2.728019,...,0.693205,NaN,0.054931,1.062351,0.992949,0.494040,NaN,1.671590,0.253013,NaN
2023-12-31,1.327023,0.048014,3.241418,3.462572,0.722260,0.369817,1.138711,6.087429,1.561227,2.429858,...,0.570382,NaN,0.114802,1.535211,0.810361,0.508252,NaN,1.995054,0.322165,1.643044

In [7]:
year_end=sorted(list(set(df2['date']+YearEnd(0))))[:-1]


share_equity=fn.get_data('보통주자본금(천원)')
retained_capital=fn.get_data('자본잉여금(천원)')
retained_earning=fn.get_data('이익잉여금(천원)')
treasury=fn.get_data('자기주식(천원)')
tax=fn.get_data('이연법인세부채(천원)')
price=fn.get_data('종가(원)')
listed_stocks=fn.get_data('기말발행주식수 (보통)(주)')

me=listed_stocks*price

be=share_equity.fillna(0)+retained_capital.fillna(0)+retained_earning.fillna(0)+treasury+tax.fillna(0)

In [8]:
be

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# OP

In [9]:
df.columns

Index(['FnGuide Sector', '거래정지여부', '관리종목여부', '기말발행주식수 (보통)(주)', '매출액(천원)',
       '매출원가(천원)', '보통주자본금(천원)', '수익률 (1개월)(%)', '수정계수', '수정주가(원)', '영업이익(천원)',
       '이연법인세부채(천원)', '이익잉여금(천원)', '이자비용(천원)', '자기주식(천원)', '자본잉여금(천원)',
       '종가(원)', '총자산(천원)'],
      dtype='object', name='Item Name ')

In [10]:
# sales=fn.get_data('매출액(천원)')
# cost=fn.get_data('매출원가(천원)')
# interest_cost=fn.get_data('이자비용(천원)')
# op=(sales-cost-interest_cost)/share_equity
op=fn.get_data('영업이익(천원)')/share_equity
op=op.loc[year_end]

# INVIT

In [29]:
invit=fn.get_data('총자산(천원)')
invit=invit.loc[year_end]
invit=invit.pct_change()

/var/folders/fx/s2kjq2qx6hzck_5n_xpvdt5c0000gn/T/ipykernel_9049/3975928642.py:3: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  invit=invit.pct_change()

In [30]:
invit

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31,-0.009781,0.170292,0.003741,0.077406,-0.036807,0.067375,-0.014291,-0.057293,0.006522,0.032771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,0.013140,0.151382,0.012906,0.098529,0.011138,0.163590,-0.009326,0.012643,0.005962,0.083299,...,0.000000,0.000000,0.873519,1.822897,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,0.023385,-0.055129,-0.012689,0.031914,-0.017164,0.088076,0.226798,-0.024989,-0.091630,0.755692,...,-0.194659,-0.579947,0.100645,0.539674,-0.039685,0.550183,0.016409,NaN,NaN,NaN
2017-12-31,0.131300,0.000000,-0.021406,0.033607,0.031317,0.023819,0.138519,0.023250,0.002500,0.027761,...,0.000000,0.000000,0.016687,0.016723,0.014837,-0.034651,-0.248650,-0.053884,NaN,NaN
2018-12-31,0.009188,0.040485,0.021782,0.011550,-0.022652,0.037781,0.251764,-0.017259,0.004840,-0.008330,...,-0.091948,0.000000,0.027892,-0.045379,-0.089470,0.246183,-0.088513,-0.105215,NaN,NaN
2019-12-31,0.015538,-0.069850,0.052965,0.083203,-0.045880,-0.026043,0.157773,-0.038248,0.008974,0.084237,...,0.176604,0.000000,0.760938,0.169896,0.002786,0.032076,-0.017957,0.360360,NaN,NaN
2020-12-31,0.152648,0.081845,-0.077214,0.084705,0.008232,0.130513,0.058560,0.017796,0.036599,0.005816,...,0.129033,0.000000,-0.079050,0.142004,-0.223539,0.308174,-0.103950,0.007169,0.084822,NaN
2021-12-31,0.032265,0.080600,0.004667,0.145631,0.101058,0.029367,-0.067358,0.084845,-0.140895,-0.005164,...,0.056983,0.000000,-0.187755,0.212776,0.028770,0.148813,0.000000,0.342907,0.748599,NaN
2022-12-31,0.029772,-0.114295,-0.017695,0.019547,-0.081963,0.003619,0.077760,-0.068762,0.014242,0.165649,...,0.000891,0.000000,0.349907,0.121419,0.127963,0.007932,0.000000,0.262592,-0.557689,NaN
2023-12-31,0.225174,-0.071152,-0.033211,0.129487,0.007472,0.138043,-0.034633,0.008809,0.074917,-0.062472,...,0.058621,0.000000,-0.272517,-0.102967,0.010730,-0.108020,0.000000,0.090786,-0.520501,NaN

# MOM

In [12]:
mom=(price.shift(1)-price.shift(12))/price.shift(12)
mom

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-31,-0.091667,0.535821,-0.264224,-0.011331,-0.080786,0.220911,0.504294,-0.056995,0.565262,-0.001003,...,0.008982,NaN,-0.123301,-0.537323,-0.138499,-0.412943,NaN,-0.357364,-0.524300,NaN
2024-06-30,-0.203080,0.177365,-0.228370,-0.039945,-0.069444,0.139073,0.357330,-0.031149,1.273731,-0.125688,...,-0.089069,NaN,0.456865,-0.541290,-0.087719,-0.444062,NaN,-0.371257,-0.586131,NaN
2024-07-31,-0.190763,0.287402,-0.190427,-0.049724,0.046798,0.108219,0.320833,0.028090,1.037559,-0.141007,...,-0.049808,NaN,0.198210,-0.526063,-0.020767,-0.567468,NaN,-0.344156,-0.560265,NaN
2024-08-31,-0.165165,0.211499,-0.201350,0.002865,0.071613,0.296703,0.248416,0.064028,0.488095,-0.172346,...,0.236729,NaN,0.415045,-0.438416,-0.134317,-0.582061,NaN,-0.129032,-0.686506,NaN
2024-09-19,-0.176531,-0.302462,-0.201651,0.041547,0.095818,0.860158,0.167079,0.089202,0.319506,-0.113553,...,0.400000,NaN,0.324289,-0.456723,0.040100,-0.470721,NaN,-0.211316,-0.680084,NaN

In [13]:
rebalancing_month=sorted(list(set(df2['date']+YearEnd(0)-MonthEnd(6))))

# size

In [14]:
###1.이렇게 하면 원래 파마 프랜치

size=listed_stocks*price
# size=size.loc[rebalancing_month]
# size

###2.#이렇게 하면 기홍햄
# size.loc[rebalancing_month]=np.NaN
# size.ffill(inplace=True)

In [23]:
size

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,1.684268e+11,5.907398e+10,2.155838e+11,5.223988e+11,2.223287e+12,2.046492e+12,2.737481e+12,3.759496e+11,2.680358e+12,1.014000e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,1.684268e+11,5.561308e+10,2.250545e+11,5.347268e+11,2.369190e+12,1.990729e+12,2.623420e+12,3.759496e+11,2.690788e+12,1.092000e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,1.706613e+11,5.525506e+10,2.315345e+11,5.776519e+11,2.351821e+12,2.130136e+12,2.242453e+12,3.921943e+11,2.701217e+12,1.269000e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,1.885374e+11,5.525506e+10,2.915989e+11,7.647555e+11,2.240656e+12,2.342035e+12,2.418108e+12,3.411394e+11,2.567554e+12,1.336950e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,1.935651e+11,5.788057e+10,3.401987e+11,7.190009e+11,2.209391e+12,2.068797e+12,2.349671e+12,3.330171e+11,2.964168e+12,1.386038e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-31,2.312726e+11,4.191261e+10,2.102751e+11,5.969297e+11,1.409686e+12,5.518384e+12,2.365640e+12,2.093250e+11,3.403910e+12,1.329465e+11,...,1.538111e+11,NaN,7.692443e+11,3.531108e+10,1.097818e+11,1.018531e+11,NaN,6.194520e+10,2.616264e+10,6.361200e+10
2024-06-30,2.251276e+11,3.932690e+10,2.132908e+11,5.892218e+11,1.490339e+12,6.488913e+12,2.169454e+12,2.123419e+11,3.585672e+12,1.249251e+11,...,1.695340e+11,NaN,6.011526e+11,3.183460e+10,1.035327e+11,7.378832e+10,NaN,5.958538e+10,2.310106e+10,9.058200e+10
2024-07-31,2.329485e+11,3.547839e+10,1.946484e+11,5.994990e+11,1.458779e+12,7.571736e+12,2.247016e+12,2.121098e+11,2.891671e+12,1.169037e+11,...,1.964225e+11,NaN,7.021366e+11,3.521175e+10,9.905694e+10,6.905830e+10,NaN,7.698903e+10,2.125715e+10,9.262800e+10
2024-08-31,2.254070e+11,3.577906e+10,1.856014e+11,6.226225e+11,1.451766e+12,1.130948e+13,2.151204e+12,2.153588e+11,2.470313e+12,1.181592e+11,...,1.945995e+11,NaN,6.596608e+11,3.210775e+10,1.051372e+11,7.410365e+10,NaN,6.715646e+10,2.129194e+10,1.536360e+10
2024-09-19,2.223345e+11,3.577906e+10,1.727162e+11,6.500282e+11,1.444752e+12,1.006624e+13,2.274391e+12,2.165191e+11,2.698342e+12,1.130673e+11,...,1.879914e+11,NaN,6.409973e+11,2.907825e+10,1.011681e+11,6.937363e+10,NaN,6.243683e+10,2.045696e+10,1.525200e+10

In [15]:
df2

Item Name,date,Symbol,FnGuide Sector,거래정지여부,관리종목여부,기말발행주식수 (보통)(주),매출액(천원),매출원가(천원),보통주자본금(천원),수익률 (1개월)(%),수정계수,수정주가(원),영업이익(천원),이연법인세부채(천원),이익잉여금(천원),이자비용(천원),자기주식(천원),자본잉여금(천원),종가(원),총자산(천원)
0,2013-01-31,A000020,의료,정상,정상,27931470.0,2.202406e+08,1.165344e+08,27931470.0,-0.17,1.0,6030.0,2062220.0,0.0,170147330.0,384335.0,0.0,26919758.0,6030.0,3.161655e+08
1,2013-01-31,A000040,경기소비재,정상,정상,119341379.0,9.955327e+07,9.199679e+07,59670690.0,0.20,1.0,8727.0,-3486600.0,7181340.0,1298918.0,813333.0,-5044.0,3884892.0,495.0,1.169316e+08
2,2013-01-31,A000050,경기소비재,정상,정상,2492298.0,3.471896e+08,2.514682e+08,12461490.0,-3.46,1.0,7874.0,36031739.0,90652345.0,612310562.0,13944625.0,0.0,13991400.0,86500.0,1.296989e+09
3,2013-01-31,A000070,산업재,정상,정상,7704997.0,2.329145e+09,2.025952e+09,40852325.0,-4.51,1.0,67800.0,2472122.0,110818108.0,871019983.0,17176000.0,-9982000.0,355855971.0,67800.0,2.595068e+09
4,2013-01-31,A000080,필수소비재,정상,정상,69477714.0,1.897469e+09,1.074666e+09,363168055.0,5.26,1.0,32000.0,161051461.0,23405084.0,422540903.0,56438096.0,-122693570.0,709299321.0,32000.0,3.553147e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354765,2024-09-19,A037950,IT,정상,정상,84447519.0,NaN,NaN,NaN,-9.10,1.0,1198.0,NaN,NaN,NaN,NaN,NaN,NaN,1198.0,NaN
354766,2024-09-19,A038880,IT,정상,정상,315334702.0,NaN,NaN,NaN,-16.03,1.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,220.0,NaN
354767,2024-09-19,A001260,산업재,정상,정상,9832571.0,NaN,NaN,NaN,-5.37,1.0,6350.0,NaN,NaN,NaN,NaN,NaN,NaN,6350.0,NaN
354768,2024-09-19,A019660,필수소비재,정상,정상,34790746.0,NaN,NaN,NaN,-1.84,1.0,588.0,NaN,NaN,NaN,NaN,NaN,NaN,588.0,NaN
354769,2024-09-19,A023460,경기소비재,정상,정상,37200000.0,NaN,NaN,NaN,-12.39,1.0,410.0,NaN,NaN,NaN,NaN,NaN,NaN,410.0,NaN

In [16]:
factor_list=[size,bm,op,invit,mom]
name=['size','bm','op','invit','mom']
data=df2.copy()
for i in range(len(factor_list)):
    tmp=factor_list[i].reset_index().melt(id_vars='date', var_name='Symbol', value_name=name[i])
    data=pd.merge(data,tmp,on=['date','Symbol'],how='left')

In [35]:
##3be.dropna(how='all')

Symbol,A000020,A000040,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,...,A014940,A053810,A007390,A002410,A037950,A038880,A015020,A001260,A019660,A023460
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,2.249986e+11,7.203080e+10,7.294158e+11,1.368564e+12,1.395720e+12,1.180835e+12,2.232304e+12,1.333214e+12,2.972666e+12,2.534230e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:

me=listed_stocks*price
be=share_equity+retained_capital.fillna(0)+retained_earning.fillna(0)+treasury.fillna(0)+tax.fillna(0)

devil_hml=be/me
devil_hml=devil_hml.reset_index().melt(id_vars='date', var_name='Symbol', value_name='devil_hml')
data=pd.merge(data,devil_hml,on=['date','Symbol'],how='left')
data['devil_hml']=data.groupby('Symbol')['devil_hml'].shift(1)

In [18]:
date=sorted(list(set(data['date'])))[-10:]
data.loc[(data['date'].isin(date))&(data['Symbol']=='A005930')]

,date,Symbol,FnGuide Sector,거래정지여부,관리종목여부,기말발행주식수 (보통)(주),매출액(천원),매출원가(천원),보통주자본금(천원),수익률 (1개월)(%),...,자기주식(천원),자본잉여금(천원),종가(원),총자산(천원),size,bm,op,invit,mom,devil_hml
329938,2023-12-31,A005930,IT,정상,정상,5.969783e+09,2.589355e+11,1.803886e+11,778047000.0,7.98,...,0.0,4.403893e+09,78500.0,4.559060e+11,4.686279e+14,0.752099,8.440333,0.016684,0.316456,0.810986
332459,2024-01-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-7.39,...,NaN,NaN,72700.0,NaN,4.340032e+14,NaN,NaN,NaN,0.286885,0.752099
334973,2024-02-29,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-1.34,...,NaN,NaN,73400.0,NaN,4.381820e+14,NaN,NaN,NaN,0.199670,NaN
337495,2024-03-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,12.26,...,NaN,NaN,82400.0,NaN,4.919101e+14,NaN,NaN,NaN,0.146875,NaN
340005,2024-04-30,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-5.95,...,NaN,NaN,77500.0,NaN,4.626581e+14,NaN,NaN,NaN,0.258015,NaN
342493,2024-05-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-5.16,...,NaN,NaN,73500.0,NaN,4.387790e+14,NaN,NaN,NaN,0.085434,NaN
344995,2024-06-30,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,5.03,...,NaN,NaN,81500.0,NaN,4.865373e+14,NaN,NaN,NaN,0.018006,NaN
347504,2024-07-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,2.94,...,NaN,NaN,83900.0,NaN,5.008648e+14,NaN,NaN,NaN,0.167622,NaN
350013,2024-08-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-8.27,...,NaN,NaN,74300.0,NaN,4.435548e+14,NaN,NaN,NaN,0.254111,NaN
352518,2024-09-19,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-19.41,...,NaN,NaN,63100.0,NaN,3.766933e+14,NaN,NaN,NaN,0.086257,NaN

In [19]:
data.loc[(data['date'].isin(date))&(data['Symbol']=='A005930')]

,date,Symbol,FnGuide Sector,거래정지여부,관리종목여부,기말발행주식수 (보통)(주),매출액(천원),매출원가(천원),보통주자본금(천원),수익률 (1개월)(%),...,자기주식(천원),자본잉여금(천원),종가(원),총자산(천원),size,bm,op,invit,mom,devil_hml
329938,2023-12-31,A005930,IT,정상,정상,5.969783e+09,2.589355e+11,1.803886e+11,778047000.0,7.98,...,0.0,4.403893e+09,78500.0,4.559060e+11,4.686279e+14,0.752099,8.440333,0.016684,0.316456,0.810986
332459,2024-01-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-7.39,...,NaN,NaN,72700.0,NaN,4.340032e+14,NaN,NaN,NaN,0.286885,0.752099
334973,2024-02-29,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-1.34,...,NaN,NaN,73400.0,NaN,4.381820e+14,NaN,NaN,NaN,0.199670,NaN
337495,2024-03-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,12.26,...,NaN,NaN,82400.0,NaN,4.919101e+14,NaN,NaN,NaN,0.146875,NaN
340005,2024-04-30,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-5.95,...,NaN,NaN,77500.0,NaN,4.626581e+14,NaN,NaN,NaN,0.258015,NaN
342493,2024-05-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-5.16,...,NaN,NaN,73500.0,NaN,4.387790e+14,NaN,NaN,NaN,0.085434,NaN
344995,2024-06-30,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,5.03,...,NaN,NaN,81500.0,NaN,4.865373e+14,NaN,NaN,NaN,0.018006,NaN
347504,2024-07-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,2.94,...,NaN,NaN,83900.0,NaN,5.008648e+14,NaN,NaN,NaN,0.167622,NaN
350013,2024-08-31,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-8.27,...,NaN,NaN,74300.0,NaN,4.435548e+14,NaN,NaN,NaN,0.254111,NaN
352518,2024-09-19,A005930,IT,정상,정상,5.969783e+09,NaN,NaN,NaN,-19.41,...,NaN,NaN,63100.0,NaN,3.766933e+14,NaN,NaN,NaN,0.086257,NaN

In [20]:
#### 자본 잠식기업 제외
data['be_test']=data['보통주자본금(천원)'].fillna(0)+data['자본잉여금(천원)'].fillna(0)+data['이익잉여금(천원)'].fillna(0)+data['자기주식(천원)'].fillna(0)+data['이연법인세부채(천원)'].fillna(0)
data2=data.loc[data['be_test']>0].copy()
date=sorted(list(set(data['date'])))[-9:]
data_real=data.loc[data['date'].isin(date)]
data_last=pd.concat([data2,data_real])
data_last

,date,Symbol,FnGuide Sector,거래정지여부,관리종목여부,기말발행주식수 (보통)(주),매출액(천원),매출원가(천원),보통주자본금(천원),수익률 (1개월)(%),...,자본잉여금(천원),종가(원),총자산(천원),size,bm,op,invit,mom,devil_hml,be_test
0,2013-01-31,A000020,의료,정상,정상,27931470.0,2.202406e+08,1.165344e+08,27931470.0,-0.17,...,26919758.0,6030.0,3.161655e+08,1.684268e+11,NaN,NaN,NaN,NaN,NaN,2.249986e+08
1,2013-01-31,A000040,경기소비재,정상,정상,119341379.0,9.955327e+07,9.199679e+07,59670690.0,0.20,...,3884892.0,495.0,1.169316e+08,5.907398e+10,NaN,NaN,NaN,NaN,NaN,7.203080e+07
2,2013-01-31,A000050,경기소비재,정상,정상,2492298.0,3.471896e+08,2.514682e+08,12461490.0,-3.46,...,13991400.0,86500.0,1.296989e+09,2.155838e+11,NaN,NaN,NaN,NaN,NaN,7.294158e+08
3,2013-01-31,A000070,산업재,정상,정상,7704997.0,2.329145e+09,2.025952e+09,40852325.0,-4.51,...,355855971.0,67800.0,2.595068e+09,5.223988e+11,NaN,NaN,NaN,NaN,NaN,1.368564e+09
4,2013-01-31,A000080,필수소비재,정상,정상,69477714.0,1.897469e+09,1.074666e+09,363168055.0,5.26,...,709299321.0,32000.0,3.553147e+09,2.223287e+12,NaN,NaN,NaN,NaN,NaN,1.395720e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354765,2024-09-19,A037950,IT,정상,정상,84447519.0,NaN,NaN,NaN,-9.10,...,NaN,1198.0,NaN,1.011681e+11,NaN,NaN,NaN,0.040100,NaN,0.000000e+00
354766,2024-09-19,A038880,IT,정상,정상,315334702.0,NaN,NaN,NaN,-16.03,...,NaN,220.0,NaN,6.937363e+10,NaN,NaN,NaN,-0.470721,NaN,0.000000e+00
354767,2024-09-19,A001260,산업재,정상,정상,9832571.0,NaN,NaN,NaN,-5.37,...,NaN,6350.0,NaN,6.243683e+10,NaN,NaN,NaN,-0.211316,NaN,0.000000e+00
354768,2024-09-19,A019660,필수소비재,정상,정상,34790746.0,NaN,NaN,NaN,-1.84,...,NaN,588.0,NaN,2.045696e+10,NaN,NaN,NaN,-0.680084,NaN,0.000000e+00
354769,2024-09-19,A023460,경기소비재,정상,정상,37200000.0,NaN,NaN,NaN,-12.39,...,NaN,410.0,NaN,1.525200e+10,NaN,NaN,NaN,NaN,NaN,0.000000e+00

In [21]:
print(np.min(data_last['be_test']))
data_last.drop(columns='be_test',inplace=True)
data_last

0.0

,date,Symbol,FnGuide Sector,거래정지여부,관리종목여부,기말발행주식수 (보통)(주),매출액(천원),매출원가(천원),보통주자본금(천원),수익률 (1개월)(%),...,자기주식(천원),자본잉여금(천원),종가(원),총자산(천원),size,bm,op,invit,mom,devil_hml
0,2013-01-31,A000020,의료,정상,정상,27931470.0,2.202406e+08,1.165344e+08,27931470.0,-0.17,...,0.0,26919758.0,6030.0,3.161655e+08,1.684268e+11,NaN,NaN,NaN,NaN,NaN
1,2013-01-31,A000040,경기소비재,정상,정상,119341379.0,9.955327e+07,9.199679e+07,59670690.0,0.20,...,-5044.0,3884892.0,495.0,1.169316e+08,5.907398e+10,NaN,NaN,NaN,NaN,NaN
2,2013-01-31,A000050,경기소비재,정상,정상,2492298.0,3.471896e+08,2.514682e+08,12461490.0,-3.46,...,0.0,13991400.0,86500.0,1.296989e+09,2.155838e+11,NaN,NaN,NaN,NaN,NaN
3,2013-01-31,A000070,산업재,정상,정상,7704997.0,2.329145e+09,2.025952e+09,40852325.0,-4.51,...,-9982000.0,355855971.0,67800.0,2.595068e+09,5.223988e+11,NaN,NaN,NaN,NaN,NaN
4,2013-01-31,A000080,필수소비재,정상,정상,69477714.0,1.897469e+09,1.074666e+09,363168055.0,5.26,...,-122693570.0,709299321.0,32000.0,3.553147e+09,2.223287e+12,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354765,2024-09-19,A037950,IT,정상,정상,84447519.0,NaN,NaN,NaN,-9.10,...,NaN,NaN,1198.0,NaN,1.011681e+11,NaN,NaN,NaN,0.040100,NaN
354766,2024-09-19,A038880,IT,정상,정상,315334702.0,NaN,NaN,NaN,-16.03,...,NaN,NaN,220.0,NaN,6.937363e+10,NaN,NaN,NaN,-0.470721,NaN
354767,2024-09-19,A001260,산업재,정상,정상,9832571.0,NaN,NaN,NaN,-5.37,...,NaN,NaN,6350.0,NaN,6.243683e+10,NaN,NaN,NaN,-0.211316,NaN
354768,2024-09-19,A019660,필수소비재,정상,정상,34790746.0,NaN,NaN,NaN,-1.84,...,NaN,NaN,588.0,NaN,2.045696e+10,NaN,NaN,NaN,-0.680084,NaN
354769,2024-09-19,A023460,경기소비재,정상,정상,37200000.0,NaN,NaN,NaN,-12.39,...,NaN,NaN,410.0,NaN,1.525200e+10,NaN,NaN,NaN,NaN,NaN

In [22]:
data_last.to_csv('factor.csv',index=False)