# 고금계 과제 1 검토

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [72]:
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'

## Load & Preprocess data

### Dataguide 추출 데이터

In [73]:
fn1 = DATA_DIR / '고금계과제1_v1.1_201301-202408.csv'

In [74]:
## 추출한 fnguide 데이터를 dataframe으로 전처리

def preprocess_dataguide_csv(fn_file_path, cols, skiprows=8, encoding="cp949"):
    fn_df = pd.read_csv(fn_file_path, encoding=encoding, skiprows=skiprows, thousands=",")
    fn_df = fn_df.melt(id_vars=cols, var_name="date", value_name="value")

    return fn_df

In [75]:
# 날짜가 아닌 컬럼들
cols = ['Symbol', 'Symbol Name', 'Kind', 'Item', 'Item Name ', 'Frequency',]

In [76]:
fn1_df = preprocess_dataguide_csv(fn1, cols, encoding='utf-8')

C:\Users\chlje\AppData\Local\Temp\ipykernel_25372\4101551885.py:4: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94) have mixed types. Specify dtype option on import or set low_memory=False.
  fn_df = pd.read_csv(fn_file_path, encoding=encoding, skiprows=skiprows, thousands=",")

In [77]:
fn1_df

,Symbol,Symbol Name,Kind,Item,Item Name,Frequency,date,value
0,A005930,삼성전자,COM,CP10000600,FnGuide Sector,NaN,2013-01-31,IT
1,A005930,삼성전자,COM,CP10000800,FnGuide Industry Group,NaN,2013-01-31,반도체
2,A005930,삼성전자,COM,CP10001000,FnGuide Industry,NaN,2013-01-31,반도체 및 관련장비
3,A005930,삼성전자,COM,CP10007100,FnGuide Industry Group 27,NaN,2013-01-31,반도체
4,A005930,삼성전자,COM,CP10001650,거래정지여부,NaN,2013-01-31,정상
...,...,...,...,...,...,...,...,...
7653728,A950180,SNK,NFS-IFRS(C),6000904001,매출액(천원),ANNUAL,2024-09-06,NaN
7653729,A950180,SNK,NFS-IFRS(C),6000905001,매출원가(천원),ANNUAL,2024-09-06,NaN
7653730,A950180,SNK,NFS-IFRS(C),6000909054,이자비용(천원),ANNUAL,2024-09-06,NaN
7653731,A950180,SNK,NFS-IFRS(C),6000906001,영업이익(천원),ANNUAL,2024-09-06,NaN
7653732,A950180,SNK,NFS-IFRS(C),6000901001,총자산(천원),ANNUAL,2024-09-06,NaN

In [78]:
# univ_list = fn1_df['Symbol'].unique() # 나중에 기간 중 존재하지 않았던 종목들을 제외하고 다시 만들 것. 

items = fn1_df['Item Name '].unique() # 원래부터 DataGuide에 띄어쓰기가 들어가 있어서 이렇게 되어버림

In [79]:
items

array(['FnGuide Sector', 'FnGuide Industry Group', 'FnGuide Industry',
       'FnGuide Industry Group 27', '거래정지여부', '관리종목여부', '수정주가(원)',
       '수익률(%)', '수익률 (1개월)(%)', '시가총액 (보통-상장예정주식수 포함)(백만원)',
       '보통주자본금(천원)', '자본잉여금(천원)', '이익잉여금(천원)', '자기주식(천원)', '이연법인세부채(천원)',
       '종가(원)', '수정계수', '기말발행주식수 (보통)(주)', '매출액(천원)', '매출원가(천원)',
       '이자비용(천원)', '영업이익(천원)', '총자산(천원)', nan], dtype=object)

### mapping 생성

In [80]:
symbol_to_name = fn1_df[['Symbol', 'Symbol Name']].drop_duplicates().set_index('Symbol').to_dict()['Symbol Name']

In [81]:
name_to_symbol = {v:k for k, v in symbol_to_name.items()}

### 존재하지 않았던 기업 처리

Dataguide에서 상장폐지 종목 포함하여 불러오면 주어진 기간에 존재하지 않았던 기업까지 불러옴. (즉, 전체기간 모든 기업을 univ로 불러옴)

주어진 기간동안의 존재하지 않았던 주식들의 value 값에 대해선 모두 NaN을 줘버림.

In [82]:
name_to_symbol['신한은행'] # 신한지주 출범으로 신한 증권과 함께 2001년 8월 30일 상장폐지. 우리의 데이터 기간엔 아예 존재하지 말았어야 함.

'A015580'

In [83]:
name_to_symbol['신한지주'] # 동년 9월 상장됨

'A055550'

In [84]:
def get_panel_df(df, item_name):
    panel_df = df.loc[df['Item Name '] == item_name].copy()
    panel_df = panel_df.pivot(index='date', columns='Symbol', values='value')
    panel_df = panel_df.reset_index()
    
    panel_df = panel_df.set_index('date', inplace=False)
    panel_df.sort_index(inplace=True)
    
    return panel_df

In [85]:
returns_df = get_panel_df(fn1_df, '수익률(%)')
returns_df.head()

Symbol,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,-1.79,NaN,NaN,1.17,NaN,-0.59,0.47,NaN,-0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,-0.17,NaN,NaN,0.33,NaN,0.58,-1.16,NaN,2.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,1.05,NaN,NaN,1.74,NaN,1.85,-0.31,NaN,-1.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,-1.70,NaN,NaN,-2.50,NaN,0.00,-0.63,NaN,-1.85,...,NaN,14.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,NaN,0.86,NaN,NaN,-0.38,NaN,0.59,0.36,NaN,-0.71,...,NaN,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
get_panel_df(fn1_df, '수익률 (1개월)(%)').head() # 이걸 쓰는 것이 맞아보임. 위의 수익률은 일별 수익률인데 그냥 마지막날에 맞춘 것일 가능성이 높아보인다.

Symbol,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,-0.17,NaN,NaN,-3.46,NaN,-4.51,5.26,NaN,6.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,0.33,NaN,NaN,5.37,NaN,2.51,7.91,NaN,-0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,10.47,NaN,NaN,25.94,NaN,32.39,-4.73,NaN,9.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,2.67,NaN,NaN,16.67,NaN,-5.98,-1.40,NaN,-11.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,NaN,5.42,NaN,NaN,1.15,NaN,-1.27,-11.86,NaN,14.40,...,NaN,-1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
returns_df.shape

(89, 3739)

In [87]:
returns_df.dropna(axis=1, how='all').shape 

# TODO: 왜 이렇게 shape 차이가 나는지 v1.0과 v1.1 비교해보기. 분명 이전에는 2700개가 넘었다.

(89, 1444)

In [88]:
nans = returns_df.isnull().all()
nan_tickers = nans[nans].index.tolist()

[ symbol_to_name[ticker] for ticker in nan_tickers ] # 모든 값이 NaN인 종목들. 즉, 현재 존재하지 않는 종목들.

['조흥은행',
 '우리은행',
 'KR모터스',
 '메리츠화재',
 '두산상사',
 '제일은행',
 '한일은행',
 '대한중석',
 'LG금속',
 '대우중공업',
 '유유제약',
 '동아건설',
 '대유플러스',
 '해태제과',
 '두산백화',
 '삼환기업',
 '대아건설',
 '로케트전기',
 '한주통산',
 '그린손해보험',
 '태화',
 '대한제지',
 '삼덕제지',
 '금호건설',
 'CS홀딩스',
 '삼화실업',
 '제일화재',
 '천일고속',
 '서울교통공사',
 '이화산업',
 '삼성물산',
 '한국벨트',
 '화천기공',
 '전진산업',
 '보해양조',
 '강원산업',
 '유니온',
 '한화기계',
 '전방',
 '신라섬유',
 '리젠트화재',
 '대한방직',
 '동서증권',
 '국보',
 '서통',
 '신원제이엠씨',
 '장은증권',
 '마이크로닉스',
 '금호전기',
 '남광토건',
 '우리증권',
 '상상인증권',
 '제일모직',
 '대한모방',
 'FnC코오롱',
 '동산씨앤지',
 '태원물산',
 '조비',
 '제일연마',
 '신광기업',
 '서광건설',
 '두산종합식품',
 '케이비아이동국실업',
 '경남모직',
 '두산테크팩',
 '공영토건',
 'SHD',
 '무림SP',
 '동부일렉트로닉스',
 '이화공영',
 'DL건설',
 '영일화학',
 '한보철강',
 '효성물산',
 '남한제지',
 '대호',
 '자유건설',
 '한국유리',
 '삼성건설',
 '경향건설',
 '비비안',
 '벽산개발',
 '피어리스',
 '고려산업',
 '삼익건설',
 '우주종합건설',
 '한일철강',
 '피에스텍',
 '알보젠코리아',
 '롯데푸드',
 '삼일기업공사',
 '한국제지',
 '유성',
 'SH에너지화학',
 '범양건영',
 '세기상사',
 '미원',
 '벽산건설',
 '고제',
 'KB손해보험',
 'LGEI',
 '오리엔트바이오',
 '미주제강',
 '한탑',
 '동일제강',
 '고려증권',
 '동양화학',
 '피죤',
 '보락',
 'SUN&L',
 '삼능건설',
 '영풍산업',
 '하나은행',
 '신풍',
 '대유에이텍',
 '진성레미컨',
 '유성기업',
 '삼도물산',
 '경동산업',
 '두산건설',
 '혜인',
 '남양',
 '한일약품',
 '넥상스코리아',
 '성보화학',
 '대일화학',
 '알앤엘바이오',
 '엔케이텔레콤',
 '대주산업',
 '신한증권',
 '하나증권',
 '쌍용C&E',
 '유진화학',
 '현대증권',
 '삼진화학',
 'IHQ',
 '광덕물산',
 'SK',
 '유니온스틸',
 '고려시멘트',
 '한성기업',
 '비락',
 '진양산업',
 '대우',
 '중원',
 '성담',
 '삼일공사',
 '해태유업',
 '부흥',
 '삼양제넥스',
 '동부산업',
 'BHK',
 '롯데미도파',
 'SG세계물산',
 '대선주조',
 '대덕GDS',
 '스마텔',
 '고려개발',
 '한일방직',
 '세신',
 '대성자원',
 '남성',
 '아시아자동차',
 '아이케이',
 '울트라건설',
 '오리온전기',
 '서울식품',
 '삼일씨엔에스',
 '삼화왕관',
 '고합',
 '동방전자',
 '디와이홀딩스',
 '삼호건설',
 'SY',
 '깨끗한나라',
 '대우송도개발',
 '한국가구',
 '두산음료',
 '캠브리지코오롱',
 '창해에탄올',
 '신동방CP',
 '팜젠사이언스',
 '진로종합식품',
 '보루네오',
 '삼우인다스',
 '써니전자',
 '대륙제관',
 '렉스엘이앤지',
 '조인에너지',
 '티웨이홀딩스',
 '조광페인트',
 '씨아이테크',
 '외환은행',
 '한신공영',
 '남선물산',
 '장기신용은행',
 '부산주공',
 '두산기계',
 '대우통신',
 '쌍용제지',
 '한창',
 '동성화학',
 '대구은행',
 '부산은행',
 '국동',
 '카스코',
 '봉신',
 '모나미',
 '신광산업',
 '신한',
 '한국염공',
 '충청은행',
 'JS전선',
 '삼익주택',
 '중앙제지',
 '대성합동지주',
 '단암산업',
 '한진건설',
 '푸드웰',
 '크라운해태홀딩스',
 '대림B&Co',
 '위너스인프라인',
 '광주은행',
 '만도기계',
 '신영와코루',
 '원림',
 '동원증권',
 '성지건설',
 '남송개발',
 '국영지앤엠',
 '기린',
 '피제이전자',
 '한메NS',
 '신화건설',
 '한국전자홀딩스',
 '휴리프',
 '진도물산',
 '극동전선',
 '금성통신',
 '인천정유',
 '대전신금',
 '경기은행',
 '전북은행',
 '대구백화점',
 '인켈',
 '형진건설',
 '한국신금',
 '대림통상',
 '대양제지',
 '강원은행',
 '동신제약',
 '경남은행',
 '영풍제지',
 '센추리',
 '대상교역',
 '혜성테푸',
 '신송홀딩스',
 '요업개발',
 '모헨즈',
 '우성',
 '한주전자',
 '캡스',
 '유리이에스',
 '대동신금',
 '호남식품',
 '미래아이앤지',
 '강남화성',
 '기아자동차판매',
 '한솔아트원제지',
 '진흥저축은행',
 '금성기전',
 '충북은행',
 '동화신금',
 '하나은행',
 '진양제약',
 '고합물산',
 '대우전자',
 '해동금고',
 '대한은박지',
 '태창기업',
 '와이엠',
 '한국코인',
 '동방아그로',
 '선도전기',
 '폴루스바이오팜',
 '대원',
 '대명소노시즌',
 '한일화학',
 '금하방직',
 '솔로몬저축은행',
 '에스엠코어',
 '부산저축은행',
 '한국협화',
 '한국화이바',
 '세원화성',
 'TP',
 '신중앙신금',
 '도레이케미칼',
 '삼협개발',
 '경남에너지',
 '아이텍스필',
 '경북신금',
 '에스와이코퍼레이션',
 '거성산업',
 '보람신금',
 '서은신금',
 '신호전자통신',
 '이건산업',
 '산은캐피탈',
 '원풍물산',
 '한국기술산업',
 '동미전기',
 '원풍',
 'C&중공업',
 '동방신금',
 '문배철강',
 '성보섬유',
 '아이넥스',
 '부스타',
 'KEP전자',
 '일정실업',
 '일은증권',
 '케이비물산',
 '메리츠증권',
 '대성전기',
 '윌비스',
 '우성건설',
 '신한전자',
 '굿모닝신한증권',
 '남신',
 '삼양엔텍',
 '범양식품',
 'i 인프라',
 '행남사',
 'LG종합금융',
 '대동기어',
 '한영전자',
 '금비',
 '보람은행',
 '티이씨앤코',
 '삼천전기',
 '동부화학',
 '경북콘크리트',
 '동양현대종금',
 '중앙종금',
 '에듀언스',
 '대한종합금융',
 '대한알미늄',
 '퍼시픽글라스',
 '경인전자',
 '한솔로지스틱스',
 '대양금속',
 '무림페이퍼',
 '그로웰전자',
 '참엔지니어링',
 '대우부품',
 '삼애인더스',
 '베네데스하이텍',
 '아세아페이퍼텍',
 'KC그린홀딩스',
 '한창제지',
 '경동',
 '삼보산업',
 '현대차서비스',
 '케이엠에이치',
 '전기초자',
 '이렘',
 '한국컴퓨터지주',
 '삼정펄프',
 '엠에스씨',
 '플레이그램',
 '갑을',
 '맥슨텔레콤',
 '대아리드선',
 '삼한실업',
 '미우',
 '금성계전',
 '흥양',
 '한국내화',
 '우리종금',
 '고려화학',
 '대한광통신',
 '극동제혁',
 '한솔종합금융',
 '흥국',
 '쌍용정보통신',
 '라미화장품',
 '우진아이엔에스',
 '한솔PNS',
 '화인자산관리',
 '오리콤',
 '일진',
 '현대하이스코',
 '라이프주택개발',
 '웰바이오텍',
 '진양폴리',
 '화천기계',
 '나노트로닉스',
 '금강화섬',
 '평화홀딩스',
 '정일이엔씨',
 '제일냉동',
 '로보트보일러',
 '삼호개발',
 '한주화학',
 '코오롱유화',
 '케드콤',
 '형지I&C',
 '에넥스',
 '두산건설',
 '동국방직',
 '삼화전자',
 '한국종금',
 '갑을방적',
 '성안머티리얼스',
 '유니크',
 '국제밸브',
 '서한',
 '부산산업',
 '갤럭시아에스엠',
 '송원칼라',
 '기산',
 '청구',
 '서울가든',
 '삼신',
 'LG정보',
 '현대페인트',
 '주일',
 '배명금속',
 '한국물산',
 '계몽사',
 '동아일렉콤',
 '현대종합금융',
 '제일곡산',
 '라이카',
 '태평양금속',
 '태영판지공업',
 '새한종합금융',
 '삼산',
 '성원건설',
 '동방개발',
 '영흥',
 '아센디오',
 '신호페이퍼',
 '계양전기',
 '동국전자',
 '셰프라인',
 '이지닷컴',
 '동신',
 '영화금속',
 '뉴인텍',
 '신신상사',
 '허메스홀딩스',
 '글로스텍',
 '메리츠종금',
 '우영',
 '영진테크',
 '제일종합금융',
 '일신',
 '원일특강',
 '쌍용건설',
 '한스종금',
 '건영',
 '신일제약',
 '현대리바트',
 '한라시멘트',
 'LG석유화학',
 '세우글로벌',
 '금강피혁',
 '태양이앤테크',
 'C&우방',
 '장복건설',
 '셀런',
 '대양금고',
 '삼경정밀',
 'AJS',
 '일성건설',
 '동성하이켐',
 '휴먼이노텍',
 '데코',
 '뉴코아',
 '까뮤이앤씨',
 'CBI',
 '세원',
 '아큐텍',
 '스페코',
 '피앤텍',
 '교하',
 '지엠비코리아',
 '인터피온반도체',
 'GPS',
 '뉴맥스',
 '석천',
 '메디앙스',
 '한익스프레스',
 '한외종합금융',
 '원익큐브',
 '대진동관',
 '선일옵트론',
 '신림종건',
 '선진지주',
 '한국종합철관',
 '신일건업',
 '대동',
 '대구종합금융',
 '경남종합금융',
 '프로비타',
 '한길종합금융',
 '영보화학',
 '삼양종합금융',
 '쌍용종합금융',
 '고려제약',
 '티엘씨레저',
 '녹십자의공',
 '금호케미칼',
 '삼보컴퓨터',
 '성문전자',
 '삼륭물산',
 '항도종합금융',
 '인디에프',
 '이스타코',
 '비전하이테크',
 '미주실업',
 '청솔종합금융',
 '중앙건설',
 '중앙바이오텍',
 '삼송공업',
 '에이엔피',
 '나우정밀',
 '부산가스',
 '엘앤씨피',
 '큐닉스컴퓨터',
 '에코바이브',
 '신한은행',
 '현대울산종금',
 '리젠트종금',
 'AP우주통신',
 '코콤',
 '대우정밀공업',
 '논노',
 '태화쇼핑',
 '유산실업',
 '대림금속',
 'LG데이콤',
 '금경',
 '디에스피',
 '동성반도체',
 '대현',
 '리더스코스메틱',
 '웨스테이트',
 '오라바이오틱스',
 '카카오M',
 '유천건설',
 'SGC E&C',
 '신우산업',
 '신한종합금융',
 '나라종금',
 'NH농협증권',
 '동신제지',
 '한화종합금융',
 '삼삼종합금융',
 '현대DSF',
 '한별텔레콤',
 '서울저축은행',
 '태평양제약',
 '큐캐피탈',
 '우풍신금',
 '신화',
 '디모아',
 '태흥피혁공업',
 '신세계종합금융',
 '한미은행',
 '웅진',
 '대웅바이오',
 '카스',
 '씨크롭',
 'LG마이크론',
 '신원종합개발',
 '제너비오믹스',
 '광명전기',
 '스타맥스',
 '호승',
 '풍연',
 '고려종합금융',
 '바로크',
 '세븐코스프',
 '훈영',
 '명문제약',
 '코닉스',
 '인터엠',
 '에이치비이에너지',
 '태일정밀',
 '한주개발',
 '삼현철강',
 '세명전기',
 '라인건설',
 '대림제지',
 '데코앤이',
 '주화산업',
 '스타리스',
 '텔슨정보통신',
 '보성건설',
 '유진산업',
 '현대금속',
 '부산리스',
 '동원금속',
 '한국안전유리',
 '선진금속',
 'KNC',
 '우진비앤지',
 '서울제약',
 '바른손',
 '동양기공',
 '에어로시스템',
 '금성제관',
 '동방산업',
 '모라리소스',
 '신호테크',
 '경윤하이드로',
 '티에이치엔',
 '신비',
 '엔케이바이오',
 '태림페이퍼',
 '신강제지',
 '넥서스투자',
 '서울창투',
 '하이트론',
 '한국산업투자',
 '일지테크',
 '한국파트너스',
 '플루토스',
 '희훈디앤지',
 '글로본',
 '신한모방',
 '서연탑메탈',
 '기라정보통신',
 '에너토크',
 '에버리소스',
 '태일전자',
 '대신정보통신',
 '대동금속',
 '아이씨켐',
 '세본금속',
 '시공테크',
 '일진디스플',
 '리타워텍',
 '동마산업',
 '대호특수강',
 '서원',
 '한림창투',
 '케미그라스',
 '고려석유화학',
 '삼화정밀',
 '동화은행',
 '알루코',
 '대동은행',
 '동남은행',
 '한국큐빅',
 '하이켐',
 '세화기술투자',
 '세원정공',
 '중앙리스',
 '메이슨캐피탈',
 '경남리스',
 'KB캐피탈',
 '삼경기전',
 '삼성투신증권',
 '건영종건',
 'TKG애강',
 '동호전기',
 '코오롱아이넷',
 '한일',
 '금강정공',
 '옵셔널벤처스',
 '평화은행',
 '동양매직',
 '국민은행',
 '다다',
 'MH에탄올',
 '한국종합기술',
 '유진종합개발',
 '아이이',
 '제이스코홀딩스',
 'CNH',
 '한서신금',
 '알이엔',
 '익산',
 '플레이위드',
 '신한캐피탈',
 '동일철강',
 '인팩',
 '삼협산업',
 '한국아트라스비엑스',
 '광일',
 '에쓰씨엔지니어링',
 'WISCOM',
 '카리스소프트',
 '제일저축은행',
 'KB오토시스',
 '하림홀딩스',
 '한일단조',
 '유성티엔에스',
 '동부신금',
 '세원물산',
 '국제종토',
 '유성티에스아이',
 '케이피에프',
 '대원화성',
 '경창산업',
 '국정교과서',
 'PN풍년',
 '삼천리자전거',
 '영남종금',
 '외환리스',
 '대구리스',
 '삼주건설',
 '중앙신금',
 '부산방직',
 '그린기술투자',
 'DH오토웨어',
 '한마음저축은',
 '팬텀엔터그룹',
 'SJM홀딩스',
 '한국선재',
 '미래산업',
 '한국저축은행',
 '제이준코스메틱',
 '동방라이텍',
 '한솔홈데코',
 '한국합섬',
 '레이디',
 '한화화인케미칼',
 '신라에스지',
 '케이씨피드',
 '한국주강',
 '동방음향',
 '우경',
 '팬택',
 '부영철강',
 '동흥전기',
 '알덱스',
 '제이에스티나',
 '현대정보기술',
 '에스티씨라이프',
 'IDH',
 '동남리스',
 '삼우이엠씨',
 '위너지스',
 '제일창투',
 '코원에너지서비스',
 '신원금속',
 '광진실업',
 '영성제강',
 '한양철강',
 '부국철강',
 '한일제관',
 '서울전자통신',
 '텔슨전자',
 '한화갤러리아타임월드',
 '코리아이앤디',
 '한보신금',
 '주택은행',
 '케이디엠',
 '상보',
 '대륭',
 '마니커',
 '대성창투',
 '고덴시',
 '스탠더드텔레',
 '미래SCI',
 '휴맥스홀딩스',
 '네오퍼플',
 'GS홈쇼핑',
 '한국대아진공',
 '현대반도체',
 '중앙디자인',
 '에스마크',
 '드래곤플라이',
 '쏠라엔텍',
 '디패션',
 '한통엠닷컴',
 '동아금고',
 '동원수산',
 '비케이탑스',
 '주은리스',
 '화니백화점',
 '국민카드',
 '아이즈비전',
 '녹십자셀',
 '오스템',
 'ST&I',
 '콤텍시스템',
 '에스유홀딩스',
 '신민저축은행',
 '에듀패스',
 '동산진흥',
 '엠바이엔',
 '대선조선',
 '일공공일안경',
 '후야인포넷',
 '아즈텍WB',
 '으뜸저축은행',
 '이수세라믹',
 '삼일',
 '알티전자',
 '핸디소프트',
 'KTF',
 '터보테크',
 'TJ미디어',
 '황금에스티',
 '카라반케이디이',
 '피델릭스',
 '엔토리노',
 '애드모바일',
 '에스오케이',
 '소프트센',
 'LG카드',
 '삼진',
 '테라',
 '엠젠솔루션',
 '판타지오',
 '비트컴퓨터',
 '에이스앤파트너스',
 '원익',
 '동일기연',
 '카인드웨어',
 '바이온',
 '세아메탈',
 '세림아이텍',
 '제이엠아이',
 '삼한콘트롤스',
 '코너스톤네트웍스',
 '디지틀조선',
 '시그네틱스',
 '폴켐',
 '모아텍',
 '삼화기연',
 '남성알미늄',
 '체시스',
 '쌈지',
 '어울림엘시스',
 '보성인터',
 '엠투엔',
 '제이씨현시스템',
 '두림티앤씨',
 '좋은사람들',
 '대진정밀화학',
 '디에스티',
 '어필텔레콤',
 '파라텍',
 '블루콤',
 '럭슬',
 'SK브로드밴드',
 '우리금융캐피탈',
 '블루스톤',
 '티비씨',
 '지노시스템',
 '블루멈',
 '트라이써클',
 '무한투자',
 '글로웍스',
 '제넥셀',
 '디씨씨',
 '조아제약',
 '올에버',
 '이론테크',
 '소예',
 '프럼파스트',
 '티브로드도봉강북방송',
 '청람디지탈',
 '골드앤에스',
 '브이에스에스티',
 '지아이바이오',
 '기산텔레콤',
 '제이테크놀로지',
 '써니트렌드',
 '바른손이앤에이',
 'CL',
 '그로웰텔레콤',
 '메카포럼',
 '호성',
 '현대멀티캡',
 '케이알',
 '바이오시스',
 '예림당',
 '아비코전자',
 '한아시스템',
 '위지트',
 '클라우드에어',
 '지더블유바이텍',
 '태산엘시디',
 '이매진아시아',
 '헤쎄나',
 '뉴켐진스템셀',
 '3SOFT',
 '대성미생물',
 'SK머티리얼즈',
 '에스에스컴텍',
 '에이스디지텍',
 '팜스코',
 '케이엔티',
 '지니웍스',
 '지디코프',
 'HRS',
 '플러스프로핏',
 'KCI',
 '코맥스',
 '심텍홀딩스',
 '한빛네트',
 'KNS홀딩스',
 '자강',
 'BET',
 '나리지*온',
 '맥시스템',
 '택산아이엔씨',
 '세원텔레콤',
 '지앤에스티',
 '넷컴스토리지',
 '한와이어리스',
 '파워넷',
 '시큐어소프트',
 'JS',
 '한신코퍼',
 'CJ인터넷',
 '다산씨앤아이',
 '넥스텔',
 '한국팩키지',
 '평안물산',
 '대흥멀티통신',
 '시스컴',
 '시노펙스그린테크',
 '인지디스플레',
 '성도이엔지',
 'EG',
 '에이원마이크로',
 '우리엔터프라이즈',
 '코리아링크',
 '희림',
 '네스테크',
 '클라스타',
 '씨모스',
 '미래에셋증권',
 '에스비엠',
 '성진산업',
 '토자이홀딩스',
 '3R',
 '디지텔',
 '엔써',
 '쎄니트',
 '글로포스트',
 '제일테크노스',
 '트래픽 ITS',
 '루멘스',
 '서린바이오',
 '아이엠아이티',
 'AD모터스',
 '어울림정보',
 'MIT',
 '외환카드',
 '트라이콤',
 '바이오스마트',
 '케이바이오',
 '위즈코프',
 '에스넷',
 '에이스일렉',
 '유일엔시스',
 '포이보스',
 '케이엠에스',
 '에코바이오',
 '아이에이',
 '지이엔에프',
 '파인디지털',
 '현주컴퓨터',
 '이지클럽',
 '써미트',
 '현대에이치티',
 '이건홀딩스',
 '유니텍전자',
 '아이비진',
 '에이아이비트',
 '경남스틸',
 '인포뱅크',
 '세중',
 '헤파호프',
 '윌텍정보통신',
 '케이엘넷',
 '마인',
 '씨앤케이인터',
 '피코소프트',
 '스포츠서울',
 '한국정보공학',
 '위노바',
 '오로라',
 '태창파로스',
 '피케이엘',
 '코아정보',
 '사라콤',
 '엔플렉스',
 '누리플렉스',
 '대양글로벌',
 ...]

In [89]:
returns_df.dropna(axis=1, how='all', inplace=True)

univ_list = returns_df.columns

In [90]:
univ_list

Index(['A000020', 'A000050', 'A000070', 'A000080', 'A000100', 'A000120',
       'A000140', 'A000150', 'A000180', 'A000210',
       ...
       'A900140', 'A900250', 'A900290', 'A950130', 'A950140', 'A950160',
       'A950170', 'A950190', 'A950210', 'A950220'],
      dtype='object', name='Symbol', length=1444)

In [91]:
def filter_univ(univ_list, panel_df, is_copy=True):
    if is_copy:
        return panel_df[univ_list].copy()
    else:
        return panel_df[univ_list]

### 데이터셋 생성

#### 그룹

In [92]:
# WICS Groups

sector_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Sector') )
industry_group_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry Group') )
industry_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry') )

In [93]:
sector_df.head()

Symbol,A000020,A000050,A000070,A000080,A000100,A000120,A000140,A000150,A000180,A000210,...,A900140,A900250,A900290,A950130,A950140,A950160,A950170,A950190,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,의료,경기소비재,산업재,필수소비재,의료,산업재,필수소비재,산업재,소재,산업재,...,경기소비재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,의료,경기소비재,산업재,필수소비재,의료,산업재,필수소비재,산업재,소재,산업재,...,경기소비재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,의료,경기소비재,산업재,필수소비재,의료,산업재,필수소비재,산업재,소재,산업재,...,경기소비재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,의료,경기소비재,산업재,필수소비재,의료,산업재,필수소비재,산업재,소재,산업재,...,경기소비재,NaN,NaN,의료,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,의료,경기소비재,필수소비재,필수소비재,의료,산업재,필수소비재,산업재,소재,산업재,...,경기소비재,NaN,NaN,의료,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
items

array(['FnGuide Sector', 'FnGuide Industry Group', 'FnGuide Industry',
       'FnGuide Industry Group 27', '거래정지여부', '관리종목여부', '수정주가(원)',
       '수익률(%)', '수익률 (1개월)(%)', '시가총액 (보통-상장예정주식수 포함)(백만원)',
       '보통주자본금(천원)', '자본잉여금(천원)', '이익잉여금(천원)', '자기주식(천원)', '이연법인세부채(천원)',
       '종가(원)', '수정계수', '기말발행주식수 (보통)(주)', '매출액(천원)', '매출원가(천원)',
       '이자비용(천원)', '영업이익(천원)', '총자산(천원)', nan], dtype=object)

#### PBR

In [95]:
PBR_df = filter_univ(univ_list, get_panel_df(fn1_df, 'PBR(배)') )
adj_PBR_df = filter_univ(univ_list, get_panel_df(fn1_df, '수정PBR(배)') )

KeyError: "None of [Index(['A000020', 'A000050', 'A000070', 'A000080', 'A000100', 'A000120',\n       'A000140', 'A000150', 'A000180', 'A000210',\n       ...\n       'A900140', 'A900250', 'A900290', 'A950130', 'A950140', 'A950160',\n       'A950170', 'A950190', 'A950210', 'A950220'],\n      dtype='object', name='Symbol', length=1444)] are in the [columns]"

#### 시장/재무

In [96]:
mkt_cap_df = filter_univ(univ_list, get_panel_df(fn1_df, '시가총액 (보통-상장예정주식수 포함)(백만원)') )
total_equity_df = filter_univ(univ_list, get_panel_df(fn1_df, '총자본(천원)') )

KeyError: "None of [Index(['A000020', 'A000050', 'A000070', 'A000080', 'A000100', 'A000120',\n       'A000140', 'A000150', 'A000180', 'A000210',\n       ...\n       'A900140', 'A900250', 'A900290', 'A950130', 'A950140', 'A950160',\n       'A950170', 'A950190', 'A950210', 'A950220'],\n      dtype='object', name='Symbol', length=1444)] are in the [columns]"

In [68]:
mkt_cap_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,"168,427",NaN,"59,074","215,584","1,286,110","522,399","2,223,287","2,046,492","2,737,481","375,950",...,"83,005",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,"168,427",NaN,"55,613","225,055","1,121,720","534,727","2,369,190","1,990,729","2,623,420","375,950",...,"92,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,"170,661",NaN,"55,255","231,534","1,155,565","577,652","2,351,821","2,130,136","2,242,453","392,194",...,"86,850",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,"188,537",NaN,"55,255","291,599","1,155,565","764,756","2,240,656","2,342,035","2,418,108","341,139",...,"130,329",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,"193,565",NaN,"57,881","340,199","1,337,540","719,001","2,209,391","2,068,797","2,349,671","333,017",...,"133,747","309,400",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN