# 고금계 과제 1 검토

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [6]:
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'

## Load & Preprocess data

### Dataguide 추출 데이터

In [8]:
fn1 = DATA_DIR / '고금계과제1_v1.0_201301-202408.csv'

In [9]:
## 추출한 fnguide 데이터를 dataframe으로 전처리

def preprocess_dataguide_csv(fn_file_path, cols, skiprows=8, encoding="cp949"):
    fn_df = pd.read_csv(fn_file_path, encoding=encoding, skiprows=skiprows, thousands=",")
    fn_df = fn_df.melt(id_vars=cols, var_name="date", value_name="value")

    return fn_df

In [10]:
# 날짜가 아닌 컬럼들
cols = ['Symbol', 'Symbol Name', 'Kind', 'Item', 'Item Name ', 'Frequency',]

In [12]:
fn1_df = preprocess_dataguide_csv(fn1, cols, encoding='utf-8')

In [13]:
fn1_df

,Symbol,Symbol Name,Kind,Item,Item Name,Frequency,date,value
0,A005930,삼성전자,SSC,S41000170F,수익률(%),DAILY,2013-01-31,0.56
1,A005930,삼성전자,COM,CP10000500,FnGuide Sector Code,NaN,2013-01-31,FGSC.45
2,A005930,삼성전자,COM,CP10000600,FnGuide Sector,NaN,2013-01-31,IT
3,A005930,삼성전자,COM,CP10000700,FnGuide Industry Group Code,NaN,2013-01-31,FGSC.45.30
4,A005930,삼성전자,COM,CP10000800,FnGuide Industry Group,NaN,2013-01-31,반도체
...,...,...,...,...,...,...,...,...
11598373,A950180,SNK,NFS-IFRS(C),6000903001,총자본(천원),ANNUAL,2024-09-06,NaN
11598374,A950180,SNK,NFS-IFRS(C),6000903007,보통주자본금(천원),ANNUAL,2024-09-06,NaN
11598375,A950180,SNK,NFS-IFRS(C),6000903008,우선주자본금(천원),ANNUAL,2024-09-06,NaN
11598376,A950180,SNK,NFS-IFRS(C),6000911019,이연법인세부채(천원),ANNUAL,2024-09-06,NaN
11598377,A950180,SNK,NFS-IFRS(C),6000991023,이연법인세자산(천원),ANNUAL,2024-09-06,NaN

In [19]:
# univ_list = fn1_df['Symbol'].unique() # 나중에 기간 중 존재하지 않았던 종목들을 제외하고 다시 만들 것. 

items = fn1_df['Item Name '].unique() # 원래부터 DataGuide에 띄어쓰기가 들어가 있어서 이렇게 되어버림

In [18]:
items

array(['수익률(%)', 'FnGuide Sector Code', 'FnGuide Sector',
       'FnGuide Industry Group Code', 'FnGuide Industry Group',
       'FnGuide Industry Code', 'FnGuide Industry', '수정PBR(배)',
       '수정PBR(평균,기말)(배)', '수정PBR(무형자산차감)(배)', '수정PBR(자사주차감)(배)',
       '시가총액 (상장예정주식수 포함)(백만원)', '시가총액 (보통-상장예정주식수 포함)(백만원)', 'PBR(배)',
       'PBR(평균,기말)(배)', 'PBR(무형자산차감)(배)', 'PBR(자사주차감)(배)', '총자본(천원)',
       '보통주자본금(천원)', '우선주자본금(천원)', '이연법인세부채(천원)', '이연법인세자산(천원)'],
      dtype=object)

### mapping 생성

In [22]:
symbol_to_name = fn1_df[['Symbol', 'Symbol Name']].drop_duplicates().set_index('Symbol').to_dict()['Symbol Name']

In [39]:
name_to_symbol = {v:k for k, v in symbol_to_name.items()}

### 존재하지 않았던 기업 처리

Dataguide에서 상장폐지 종목 포함하여 불러오면 주어진 기간에 존재하지 않았던 기업까지 불러옴. (즉, 전체기간 모든 기업을 univ로 불러옴)

주어진 기간동안의 존재하지 않았던 주식들의 value 값에 대해선 모두 NaN을 줘버림.

In [41]:
name_to_symbol['신한은행'] # 신한지주 출범으로 신한 증권과 함께 2001년 8월 30일 상장폐지. 우리의 데이터 기간엔 아예 존재하지 말았어야 함.

'A015580'

In [42]:
name_to_symbol['신한지주'] # 동년 9월 상장됨

'A055550'

In [26]:
def get_panel_df(df, item_name):
    panel_df = df.loc[df['Item Name '] == item_name].copy()
    panel_df = panel_df.pivot(index='date', columns='Symbol', values='value')
    panel_df = panel_df.reset_index()
    
    panel_df = panel_df.set_index('date', inplace=False)
    panel_df.sort_index(inplace=True)
    
    return panel_df

In [28]:
returns_df = get_panel_df(fn1_df, '수익률(%)')
returns_df.head()

Symbol,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,-1.79,NaN,-0.40,1.17,-2.92,-0.59,0.47,NaN,-0.27,...,0.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,-0.17,NaN,-0.85,0.33,4.50,0.58,-1.16,NaN,2.88,...,5.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,0.99,NaN,-0.22,0.32,-1.65,2.02,4.15,NaN,0.53,...,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,1.05,NaN,0.00,1.74,1.70,1.85,-0.31,NaN,-1.87,...,2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,-1.70,NaN,-2.61,-2.50,0.76,0.00,-0.63,NaN,-1.85,...,2.62,14.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
returns_df.shape

(141, 3739)

In [44]:
returns_df.dropna(axis=1, how='all').shape

(141, 2926)

In [49]:
nans = returns_df.isnull().all()
nan_tickers = nans[nans].index.tolist()

[ symbol_to_name[ticker] for ticker in nan_tickers ] # 모든 값이 NaN인 종목들. 즉, 현재 존재하지 않는 종목들.

['조흥은행',
 '두산상사',
 '제일은행',
 '한일은행',
 '대한중석',
 'LG금속',
 '대우중공업',
 '동아건설',
 '해태제과',
 '두산백화',
 '대아건설',
 '한주통산',
 '그린손해보험',
 '태화',
 '대한제지',
 '삼덕제지',
 '금호건설',
 '삼화실업',
 '제일화재',
 '서울교통공사',
 '한국벨트',
 '전진산업',
 '강원산업',
 '한화기계',
 '리젠트화재',
 '동서증권',
 '서통',
 '신원제이엠씨',
 '장은증권',
 '마이크로닉스',
 '우리증권',
 '대한모방',
 'FnC코오롱',
 '동산씨앤지',
 '신광기업',
 '서광건설',
 '두산종합식품',
 '경남모직',
 '두산테크팩',
 '공영토건',
 '동부일렉트로닉스',
 '영일화학',
 '한보철강',
 '효성물산',
 '남한제지',
 '대호',
 '자유건설',
 '삼성건설',
 '경향건설',
 '벽산개발',
 '피어리스',
 '삼익건설',
 '우주종합건설',
 '유성',
 '미원',
 '고제',
 'LGEI',
 '미주제강',
 '고려증권',
 '동양화학',
 '피죤',
 '삼능건설',
 '영풍산업',
 '하나은행',
 '진성레미컨',
 '삼도물산',
 '경동산업',
 '두산건설',
 '남양',
 '한일약품',
 '넥상스코리아',
 '대일화학',
 '엔케이텔레콤',
 '신한증권',
 '하나증권',
 '유진화학',
 '삼진화학',
 '광덕물산',
 '고려시멘트',
 '비락',
 '대우',
 '중원',
 '성담',
 '삼일공사',
 '해태유업',
 '부흥',
 '동부산업',
 'BHK',
 '롯데미도파',
 '대선주조',
 '스마텔',
 '한일방직',
 '세신',
 '대성자원',
 '아시아자동차',
 '아이케이',
 '오리온전기',
 '고합',
 '동방전자',
 '디와이홀딩스',
 '삼호건설',
 'SY',
 '대우송도개발',
 '두산음료',
 '캠브리지코오롱',
 '신동방CP',
 '진로종합식품',
 '삼우인다스',
 '조인에너지',
 '남선물산',
 '장기신용은행',
 '두산기계',
 '대우통신',
 '쌍용제지',
 '대구은행',
 '부산은행',
 '카스코',
 '봉신',
 '신광산업',
 '한국염공',
 '충청은행',
 '삼익주택',
 '중앙제지',
 '단암산업',
 '한진건설',
 '위너스인프라인',
 '광주은행',
 '만도기계',
 '동원증권',
 '남송개발',
 '기린',
 '한메NS',
 '신화건설',
 '휴리프',
 '진도물산',
 '극동전선',
 '금성통신',
 '인천정유',
 '대전신금',
 '경기은행',
 '인켈',
 '형진건설',
 '한국신금',
 '강원은행',
 '동신제약',
 '경남은행',
 '센추리',
 '대상교역',
 '혜성테푸',
 '요업개발',
 '한주전자',
 '캡스',
 '유리이에스',
 '대동신금',
 '호남식품',
 '강남화성',
 '기아자동차판매',
 '진흥저축은행',
 '금성기전',
 '충북은행',
 '동화신금',
 '하나은행',
 '고합물산',
 '대우전자',
 '해동금고',
 '대한은박지',
 '태창기업',
 '한국코인',
 '금하방직',
 '솔로몬저축은행',
 '부산저축은행',
 '한국협화',
 '한국화이바',
 '세원화성',
 '신중앙신금',
 '삼협개발',
 '아이텍스필',
 '경북신금',
 '거성산업',
 '보람신금',
 '서은신금',
 '신호전자통신',
 '산은캐피탈',
 '한국기술산업',
 '동미전기',
 'C&중공업',
 '동방신금',
 '성보섬유',
 '아이넥스',
 'KEP전자',
 '일은증권',
 '케이비물산',
 '대성전기',
 '우성건설',
 '신한전자',
 '굿모닝신한증권',
 '남신',
 '범양식품',
 'i 인프라',
 'LG종합금융',
 '한영전자',
 '보람은행',
 '삼천전기',
 '동부화학',
 '경북콘크리트',
 '동양현대종금',
 '중앙종금',
 '대한종합금융',
 '대한알미늄',
 '퍼시픽글라스',
 '그로웰전자',
 '삼애인더스',
 '베네데스하이텍',
 '아세아페이퍼텍',
 '경동',
 '현대차서비스',
 '케이엠에이치',
 '전기초자',
 '한국컴퓨터지주',
 '갑을',
 '맥슨텔레콤',
 '대아리드선',
 '삼한실업',
 '미우',
 '금성계전',
 '흥양',
 '고려화학',
 '극동제혁',
 '한솔종합금융',
 '라미화장품',
 '일진',
 '라이프주택개발',
 '금강화섬',
 '정일이엔씨',
 '제일냉동',
 '로보트보일러',
 '한주화학',
 '코오롱유화',
 '케드콤',
 '동국방직',
 '한국종금',
 '갑을방적',
 '국제밸브',
 '송원칼라',
 '기산',
 '청구',
 '서울가든',
 '삼신',
 'LG정보',
 '주일',
 '배명금속',
 '한국물산',
 '계몽사',
 '동아일렉콤',
 '현대종합금융',
 '제일곡산',
 '라이카',
 '태평양금속',
 '태영판지공업',
 '새한종합금융',
 '삼산',
 '성원건설',
 '동방개발',
 '신호페이퍼',
 '동국전자',
 '셰프라인',
 '이지닷컴',
 '동신',
 '신신상사',
 '허메스홀딩스',
 '메리츠종금',
 '우영',
 '영진테크',
 '제일종합금융',
 '일신',
 '한스종금',
 '건영',
 '현대리바트',
 '한라시멘트',
 'LG석유화학',
 '금강피혁',
 '태양이앤테크',
 'C&우방',
 '장복건설',
 '셀런',
 '대양금고',
 '삼경정밀',
 '휴먼이노텍',
 '데코',
 '뉴코아',
 '세원',
 '피앤텍',
 '교하',
 '인터피온반도체',
 'GPS',
 '뉴맥스',
 '석천',
 '한외종합금융',
 '대진동관',
 '선일옵트론',
 '신림종건',
 '선진지주',
 '한국종합철관',
 '대동',
 '대구종합금융',
 '경남종합금융',
 '프로비타',
 '한길종합금융',
 '삼양종합금융',
 '쌍용종합금융',
 '티엘씨레저',
 '녹십자의공',
 '금호케미칼',
 '삼보컴퓨터',
 '항도종합금융',
 '비전하이테크',
 '미주실업',
 '청솔종합금융',
 '중앙건설',
 '중앙바이오텍',
 '삼송공업',
 '나우정밀',
 '엘앤씨피',
 '큐닉스컴퓨터',
 '신한은행',
 '현대울산종금',
 '리젠트종금',
 'AP우주통신',
 '대우정밀공업',
 '논노',
 '태화쇼핑',
 '유산실업',
 '대림금속',
 'LG데이콤',
 '금경',
 '디에스피',
 '동성반도체',
 '웨스테이트',
 '오라바이오틱스',
 '유천건설',
 '신우산업',
 '신한종합금융',
 '나라종금',
 '동신제지',
 '한화종합금융',
 '삼삼종합금융',
 '현대DSF',
 '한별텔레콤',
 '서울저축은행',
 '우풍신금',
 '신화',
 '태흥피혁공업',
 '신세계종합금융',
 '한미은행',
 '대웅바이오',
 '씨크롭',
 'LG마이크론',
 '제너비오믹스',
 '스타맥스',
 '호승',
 '풍연',
 '고려종합금융',
 '바로크',
 '세븐코스프',
 '훈영',
 '코닉스',
 '에이치비이에너지',
 '태일정밀',
 '한주개발',
 '라인건설',
 '주화산업',
 '스타리스',
 '텔슨정보통신',
 '보성건설',
 '유진산업',
 '현대금속',
 '부산리스',
 '한국안전유리',
 '선진금속',
 'KNC',
 '동양기공',
 '에어로시스템',
 '금성제관',
 '동방산업',
 '모라리소스',
 '신호테크',
 '경윤하이드로',
 '신비',
 '엔케이바이오',
 '신강제지',
 '넥서스투자',
 '서울창투',
 '한국산업투자',
 '한국파트너스',
 '희훈디앤지',
 '신한모방',
 '기라정보통신',
 '에버리소스',
 '태일전자',
 '아이씨켐',
 '세본금속',
 '리타워텍',
 '동마산업',
 '한림창투',
 '케미그라스',
 '고려석유화학',
 '삼화정밀',
 '동화은행',
 '알루코',
 '대동은행',
 '동남은행',
 '하이켐',
 '세화기술투자',
 '중앙리스',
 '경남리스',
 '삼경기전',
 '삼성투신증권',
 '건영종건',
 '동호전기',
 '코오롱아이넷',
 '한일',
 '금강정공',
 '옵셔널벤처스',
 '평화은행',
 '동양매직',
 '국민은행',
 '다다',
 '유진종합개발',
 '한서신금',
 '알이엔',
 '익산',
 '신한캐피탈',
 '삼협산업',
 '광일',
 '카리스소프트',
 '제일저축은행',
 '동부신금',
 '국제종토',
 '유성티에스아이',
 '국정교과서',
 '영남종금',
 '외환리스',
 '대구리스',
 '삼주건설',
 '중앙신금',
 '그린기술투자',
 '한마음저축은',
 '팬텀엔터그룹',
 '한국저축은행',
 '동방라이텍',
 '한국합섬',
 '레이디',
 '동방음향',
 '팬택',
 '부영철강',
 '동흥전기',
 '알덱스',
 '에스티씨라이프',
 'IDH',
 '동남리스',
 '제일창투',
 '코원에너지서비스',
 '신원금속',
 '영성제강',
 '한양철강',
 '한일제관',
 '텔슨전자',
 '코리아이앤디',
 '한보신금',
 '주택은행',
 '케이디엠',
 '대륭',
 '고덴시',
 '스탠더드텔레',
 '한국대아진공',
 '현대반도체',
 '중앙디자인',
 '쏠라엔텍',
 '디패션',
 '한통엠닷컴',
 '동아금고',
 '주은리스',
 '화니백화점',
 '국민카드',
 'ST&I',
 '에듀패스',
 '동산진흥',
 '엠바이엔',
 '대선조선',
 '일공공일안경',
 '후야인포넷',
 '으뜸저축은행',
 '이수세라믹',
 '알티전자',
 '핸디소프트',
 'KTF',
 '카라반케이디이',
 '엔토리노',
 '애드모바일',
 '에스오케이',
 'LG카드',
 '테라',
 '에이스앤파트너스',
 '카인드웨어',
 '세아메탈',
 '세림아이텍',
 '삼한콘트롤스',
 '폴켐',
 '삼화기연',
 '남성알미늄',
 '쌈지',
 '어울림엘시스',
 '보성인터',
 '두림티앤씨',
 '대진정밀화학',
 '어필텔레콤',
 '블루스톤',
 '지노시스템',
 '블루멈',
 '무한투자',
 '글로웍스',
 '제넥셀',
 '디씨씨',
 '올에버',
 '이론테크',
 '소예',
 '티브로드도봉강북방송',
 '청람디지탈',
 '브이에스에스티',
 '써니트렌드',
 'CL',
 '그로웰텔레콤',
 '메카포럼',
 '호성',
 '현대멀티캡',
 '케이알',
 '바이오시스',
 '한아시스템',
 '헤쎄나',
 '뉴켐진스템셀',
 '3SOFT',
 '에이스디지텍',
 '케이엔티',
 '지니웍스',
 '지디코프',
 '플러스프로핏',
 '한빛네트',
 'KNS홀딩스',
 '자강',
 'BET',
 '나리지*온',
 '맥시스템',
 '택산아이엔씨',
 '세원텔레콤',
 '넷컴스토리지',
 '한와이어리스',
 '시큐어소프트',
 'JS',
 '한신코퍼',
 'CJ인터넷',
 '다산씨앤아이',
 '넥스텔',
 '평안물산',
 '대흥멀티통신',
 '시스컴',
 '시노펙스그린테크',
 '에이원마이크로',
 '코리아링크',
 '네스테크',
 '클라스타',
 '씨모스',
 '성진산업',
 '토자이홀딩스',
 '3R',
 '디지텔',
 '엔써',
 '글로포스트',
 '트래픽 ITS',
 '아이엠아이티',
 'AD모터스',
 '어울림정보',
 '외환카드',
 '트라이콤',
 '에이스일렉',
 '포이보스',
 '케이엠에스',
 '지이엔에프',
 '현주컴퓨터',
 '이지클럽',
 '써미트',
 '유니텍전자',
 '아이비진',
 '헤파호프',
 '윌텍정보통신',
 '마인',
 '피코소프트',
 '피케이엘',
 '코아정보',
 '사라콤',
 '엔플렉스',
 '대양글로벌',
 '아인스M&M',
 '벨로체피아노',
 '유니씨앤티',
 '이루넷',
 '모빌링크',
 '보홍',
 '인네트',
 '쎄라텍',
 '인젠',
 '코디콤',
 '한텔',
 '현대오토넷',
 '대국',
 '심스밸리',
 '퓨쳐비젼',
 '어울림 네트',
 '에코페트로시스템',
 '창민테크',
 '지앤알',
 '스톰이앤에프',
 '테크메이트',
 '옥션',
 '한빛방송',
 '한서제약',
 '조이토토',
 '솔빛미디어',
 '한빛전자통신',
 '동부CNI',
 '에이엠에스',
 '큐리어스',
 '뉴씨앤씨',
 '디에이치패션',
 '포네이처',
 '이레전자산업',
 '더존디지털',
 '이롬텍',
 '에이프로테크놀로지',
 '온미디어',
 'LG파워콤',
 '유티엑스',
 '화림모드',
 '모디아',
 '에스브이에이치',
 'MTRON',
 '에듀아크',
 '알에스넷',
 '엔하이테크',
 'KEPS',
 '타임',
 '덴소풍성',
 '에프아이투어',
 '이앤텍',
 '세계투어',
 '월드텔레콤',
 '액티투오',
 '비엔디',
 '에스피코프',
 '태광이엔시',
 '모닷텔',
 '포넷',
 '엑큐리스',
 '테스텍',
 '하이콤',
 '엠엔에프씨',
 'VK',
 'CJ엔터테인',
 '포휴먼',
 '소프트윈',
 '유아이에너지',
 'CT&T',
 '세라온',
 '이룸지엔지',
 '굿이엠지',
 '아이피에스',
 '엠씨티티코어',
 'H1바이오',
 '코아에스앤아이',
 '삼성수산',
 '제네시스',
 '아시아미디어홀딩스',
 '올리브나인',
 '블루젬디앤씨',
 '트리니티',
 '코스모스피엘씨',
 '디이시스',
 '엔에스아이',
 '성우몰드',
 '오페스',
 '미디어코프',
 '어플라이드',
 '선팩테크',
 'GK파워',
 '우주통신',
 '더체인지',
 '뉴젠아이씨티',
 '엔빅스',
 '예일바이오텍',
 '업필',
 '엠텍반도체',
 '신한SIT',
 '뉴젠비아이티',
 '제이엠피',
 '동서정보기술',
 '다휘',
 'KTC텔레콤',
 '에너윈',
 '아이스테이션',
 '쿨투',
 '세니콘',
 '리더컴',
 '엠넷미디어',
 '슈마일렉트론',
 '미리넷',
 '코어비트',
 '하이스마텍',
 '아이티센',
 '플래닛82',
 '네오리소스',
 '오브제',
 '퓨쳐인포넷',
 '투미비티',
 '야호',
 '국민은행',
 '베스트플로우',
 '우수씨엔에스',
 '한도하이테크',
 '유퍼트',
 '제이콤',
 '태영텔스타',
 '지앤디윈텍',
 '엘앤피아너스',
 '케너텍',
 '사이버패스',
 '팬택앤큐리텔',
 '코오롱인터',
 '사이노젠',
 '케이피케미칼',
 '모델라인',
 '쓰리디월드',
 '지엔텍홀딩스',
 '폴리플러스',
 'UC아이콜스',
 'PW제네틱스',
 '이노블루',
 '샤인시스템',
 '시큐리티KOR',
 '케이에스알',
 '휘튼',
 '보광티에스',
 '아이드림',
 '에스디',
 '바이나믹',
 '티이씨',
 '에피밸리',
 '선우중공업',
 '제로원인터랙티브',
 '나노하이텍',
 'SSCP',
 '나이스메탈',
 '인스프리트',
 '케이디세코',
 '엑스로드',
 '테이크시스템',
 'GBS',
 '케이이엔지',
 '도움',
 '아구스',
 '신지소프트',
 '하이럭스',
 '모젬',
 '산양전기',
 '디보스',
 'IC코퍼레이션',
 '씨모텍',
 '엑스씨이',
 '세실',
 '아이알디',
 '모빌탑',
 '단성일렉트론',
 '네이쳐글로벌',
 '맥스브로',
 '씨티엘테크',
 '네오세미테크',
 '평산',
 '디앤샵',
 '엔스퍼트',
 '하이트맥주',
 '풀무원',
 '금강제강',
 '삼성이미징',
 '현대푸드',
 '대우증권스팩',
 '미래에셋스팩1호',
 '동양밸류스팩',
 '우리스팩1호',
 '히든챔피언스팩1호',
 '이노그리드',
 '센코어테크',
 '셀비온',
 '차이커뮤니케이션',
 '에이치이엠파마',
 '제닉스',
 '아이언디바이스',
 '인스피언',
 '키움제9호스팩',
 '루미르',
 '미래에셋비전스팩7호',
 '케이비제30호스팩',
 '코웰이홀딩스',
 '연합과기',
 '성융광전투자',
 '네프로아이티']

In [52]:
returns_df = returns_df.dropna(axis=1, how='all')

univ_list = returns_df.columns

In [58]:
univ_list

Index(['A000020', 'A000030', 'A000040', 'A000050', 'A000060', 'A000070',
       'A000080', 'A000100', 'A000120', 'A000140',
       ...
       'A950110', 'A950130', 'A950140', 'A950160', 'A950170', 'A950180',
       'A950190', 'A950200', 'A950210', 'A950220'],
      dtype='object', name='Symbol', length=2926)

In [61]:
def filter_univ(univ_list, panel_df, is_copy=True):
    if is_copy:
        return panel_df[univ_list].copy()
    else:
        return panel_df[univ_list]

### 데이터셋 생성

#### 그룹

In [62]:
# WICS Groups

sector_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Sector') )
industry_group_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry Group') )
industry_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry') )

In [63]:
sector_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,의료,금융,경기소비재,경기소비재,금융,산업재,필수소비재,의료,산업재,필수소비재,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,의료,금융,경기소비재,경기소비재,금융,산업재,필수소비재,의료,산업재,필수소비재,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,의료,금융,경기소비재,경기소비재,금융,산업재,필수소비재,의료,산업재,필수소비재,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,의료,금융,경기소비재,경기소비재,금융,산업재,필수소비재,의료,산업재,필수소비재,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,의료,금융,경기소비재,경기소비재,금융,산업재,필수소비재,의료,산업재,필수소비재,...,IT,의료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
items

array(['수익률(%)', 'FnGuide Sector Code', 'FnGuide Sector',
       'FnGuide Industry Group Code', 'FnGuide Industry Group',
       'FnGuide Industry Code', 'FnGuide Industry', '수정PBR(배)',
       '수정PBR(평균,기말)(배)', '수정PBR(무형자산차감)(배)', '수정PBR(자사주차감)(배)',
       '시가총액 (상장예정주식수 포함)(백만원)', '시가총액 (보통-상장예정주식수 포함)(백만원)', 'PBR(배)',
       'PBR(평균,기말)(배)', 'PBR(무형자산차감)(배)', 'PBR(자사주차감)(배)', '총자본(천원)',
       '보통주자본금(천원)', '우선주자본금(천원)', '이연법인세부채(천원)', '이연법인세자산(천원)'],
      dtype=object)

#### PBR

In [65]:
PBR_df = filter_univ(univ_list, get_panel_df(fn1_df, 'PBR(배)') )
adj_PBR_df = filter_univ(univ_list, get_panel_df(fn1_df, '수정PBR(배)') )

#### 시장/재무

In [66]:
mkt_cap_df = filter_univ(univ_list, get_panel_df(fn1_df, '시가총액 (보통-상장예정주식수 포함)(백만원)') )
total_equity_df = filter_univ(univ_list, get_panel_df(fn1_df, '총자본(천원)') )

In [68]:
mkt_cap_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000100,A000120,A000140,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,"168,427",NaN,"59,074","215,584","1,286,110","522,399","2,223,287","2,046,492","2,737,481","375,950",...,"83,005",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,"168,427",NaN,"55,613","225,055","1,121,720","534,727","2,369,190","1,990,729","2,623,420","375,950",...,"92,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,"170,661",NaN,"55,255","231,534","1,155,565","577,652","2,351,821","2,130,136","2,242,453","392,194",...,"86,850",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,"188,537",NaN,"55,255","291,599","1,155,565","764,756","2,240,656","2,342,035","2,418,108","341,139",...,"130,329",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,"193,565",NaN,"57,881","340,199","1,337,540","719,001","2,209,391","2,068,797","2,349,671","333,017",...,"133,747","309,400",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN