# 고금계 과제 1 검토

In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [2]:
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'

## Load & Preprocess data

### Dataguide 추출 데이터

In [3]:
fn1 = DATA_DIR / '고금계과제1_v3.0_201301-202408.csv'

In [4]:
## 추출한 fnguide 데이터를 dataframe으로 전처리

def preprocess_dataguide_csv(fn_file_path, cols, skiprows=8, encoding="cp949"):
    fn_df = pd.read_csv(fn_file_path, encoding=encoding, skiprows=skiprows, thousands=",")
    fn_df = fn_df.melt(id_vars=cols, var_name="date", value_name="value")

    return fn_df

In [5]:
# 날짜가 아닌 컬럼들
cols = ['Symbol', 'Symbol Name', 'Kind', 'Item', 'Item Name ', 'Frequency',]

In [6]:
fn1_df = preprocess_dataguide_csv(fn1, cols, encoding='utf-8')

In [7]:
fn1_df.head(30
            )

,Symbol,Symbol Name,Kind,Item,Item Name,Frequency,date,value
0,A000010,조흥은행,SSC,S41000060F,종가(원),DAILY,2013-01-31,NaN
1,A000010,조흥은행,SSC,S410001600,수정계수,DAILY,2013-01-31,NaN
2,A000010,조흥은행,SSC,S410000700,수정주가(원),DAILY,2013-01-31,NaN
3,A000010,조흥은행,SSC,S41000170F,수익률(%),DAILY,2013-01-31,NaN
4,A000010,조흥은행,SSC,S41000180F,수익률 (1개월)(%),DAILY,2013-01-31,NaN
5,A000010,조흥은행,SSC,S420002100,시가총액 (상장예정주식수 포함)(백만원),DAILY,2013-01-31,NaN
6,A000010,조흥은행,SSC,S420002300,시가총액 (보통-상장예정주식수 포함)(백만원),DAILY,2013-01-31,NaN
7,A000010,조흥은행,SSC,S420003800,상장주식수 (보통)(주),DAILY,2013-01-31,NaN
8,A000010,조흥은행,COM,CP10000600,FnGuide Sector,NaN,2013-01-31,금융
9,A000010,조흥은행,COM,CP10000800,FnGuide Industry Group,NaN,2013-01-31,은행
10,A000010,조흥은행,COM,CP10001000,FnGuide Industry,NaN,2013-01-31,상업은행
11,A000010,조흥은행,COM,CP10007100,FnGuide Industry Group 27,NaN,2013-01-31,은행
12,A000010,조흥은행,COM,CP10001650,거래정지여부,NaN,2013-01-31,정상
13,A000010,조흥은행,COM,CP10001660,관리종목여부,NaN,2013-01-31,정상
14,A000010,조흥은행,NFS-IFRS(C),6000903007,보통주자본금(천원),ANNUAL,2013-01-31,"7,928,078,000"
15,A000010,조흥은행,NFS-IFRS(C),6000903012,자본잉여금(천원),ANNUAL,2013-01-31,"403,164,000"
16,A000010,조흥은행,NFS-IFRS(C),6000903016,이익잉여금(천원),ANNUAL,2013-01-31,"9,806,344,000"
17,A000010,조흥은행,NFS-IFRS(C),6000903019,자기주식(천원),ANNUAL,2013-01-31,0
18,A000010,조흥은행,NFS-IFRS(C),6000911019,이연법인세부채(천원),ANNUAL,2013-01-31,"10,473,000"
19,A000010,조흥은행,NFS-IFRS(C),6000904001,매출액(천원),ANNUAL,2013-01-31,"9,087,373,000"
20,A000010,조흥은행,NFS-IFRS(C),6000905001,매출원가(천원),ANNUAL,2013-01-31,"4,736,825,000"
21,A000010,조흥은행,NFS-IFRS(C),6000909054,이자비용(천원),ANNUAL,2013-01-31,"4,736,825,000"
22,A000010,조흥은행,NFS-IFRS(C),6000906001,영업이익(천원),ANNUAL,2013-01-31,"1,719,972,000"
23,A000010,조흥은행,NFS-IFRS(C),6000901001,총자산(천원),ANNUAL,2013-01-31,"238,045,694,000"
24,A000010,조흥은행,SSC,S420004600,기말발행주식수 (보통)(주),DAILY,2013-01-31,NaN
25,A000011,조흥은행(1신),SSC,S41000060F,종가(원),DAILY,2013-01-31,NaN
26,A000011,조흥은행(1신),SSC,S410001600,수정계수,DAILY,2013-01-31,NaN
27,A000011,조흥은행(1신),SSC,S410000700,수정주가(원),DAILY,2013-01-31,NaN
28,A000011,조흥은행(1신),SSC,S41000170F,수익률(%),DAILY,2013-01-31,NaN
29,A000011,조흥은행(1신),SSC,S41000180F,수익률 (1개월)(%),DAILY,2013-01-31,NaN

In [8]:
fn1_df[ fn1_df['Frequency'] == 'DAILY' ]['Item Name '].unique()

array(['종가(원)', '수정계수', '수정주가(원)', '수익률(%)', '수익률 (1개월)(%)',
       '시가총액 (상장예정주식수 포함)(백만원)', '시가총액 (보통-상장예정주식수 포함)(백만원)',
       '상장주식수 (보통)(주)', '기말발행주식수 (보통)(주)'], dtype=object)

In [9]:
fn1_df['Kind'].unique()

array(['SSC', 'COM', 'NFS-IFRS(C)'], dtype=object)

In [10]:
fn1_df[ fn1_df['Kind'].isna() ] # 날짜 빼고 다 NaN으로 나오는 케이스들 있다.

Empty DataFrame
Columns: [Symbol, Symbol Name, Kind, Item, Item Name , Frequency, date, value]
Index: []

In [11]:
# univ_list = fn1_df['Symbol'].unique() # 나중에 기간 중 존재하지 않았던 종목들을 제외하고 다시 만들 것. 

items = fn1_df['Item Name '].unique() # 원래부터 DataGuide에 띄어쓰기가 들어가 있어서 이렇게 되어버림

In [12]:
items

array(['종가(원)', '수정계수', '수정주가(원)', '수익률(%)', '수익률 (1개월)(%)',
       '시가총액 (상장예정주식수 포함)(백만원)', '시가총액 (보통-상장예정주식수 포함)(백만원)',
       '상장주식수 (보통)(주)', 'FnGuide Sector', 'FnGuide Industry Group',
       'FnGuide Industry', 'FnGuide Industry Group 27', '거래정지여부',
       '관리종목여부', '보통주자본금(천원)', '자본잉여금(천원)', '이익잉여금(천원)', '자기주식(천원)',
       '이연법인세부채(천원)', '매출액(천원)', '매출원가(천원)', '이자비용(천원)', '영업이익(천원)',
       '총자산(천원)', '기말발행주식수 (보통)(주)'], dtype=object)

### mapping 생성

In [13]:
symbol_to_name = fn1_df[['Symbol', 'Symbol Name']].drop_duplicates().set_index('Symbol').to_dict()['Symbol Name']

In [14]:
name_to_symbol = {v:k for k, v in symbol_to_name.items()}

### 존재하지 않았던 기업 처리

Dataguide에서 상장폐지 종목 포함하여 불러오면 주어진 기간에 존재하지 않았던 기업까지 불러옴. (즉, 전체기간 모든 기업을 univ로 불러옴)

주어진 기간동안의 존재하지 않았던 주식들의 value 값에 대해선 모두 NaN을 줘버림.

In [15]:
name_to_symbol['신한은행'] # 신한지주 출범으로 신한 증권과 함께 2001년 8월 30일 상장폐지. 우리의 데이터 기간엔 아예 존재하지 말았어야 함.

'A015580'

In [16]:
name_to_symbol['신한지주'] # 동년 9월 상장됨

'A055550'

In [17]:
def get_panel_df(df, item_name):
    panel_df = df.loc[df['Item Name '] == item_name].copy()
    panel_df = panel_df.pivot(index='date', columns='Symbol', values='value')
    panel_df = panel_df.reset_index()
    
    panel_df = panel_df.set_index('date', inplace=False)
    panel_df.sort_index(inplace=True)
    
    return panel_df

In [21]:
returns_df = get_panel_df(fn1_df, '수익률(%)')
returns_df.head()

Symbol,A000010,A000011,A000012,A000020,A000021,A000022,A000023,A000030,A000031,A000032,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,NaN,NaN,-1.79,NaN,NaN,NaN,NaN,NaN,NaN,...,0.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,NaN,NaN,-0.17,NaN,NaN,NaN,NaN,NaN,NaN,...,5.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,0.99,NaN,NaN,NaN,NaN,NaN,NaN,...,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,1.05,NaN,NaN,NaN,NaN,NaN,NaN,...,2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,NaN,NaN,-1.70,NaN,NaN,NaN,NaN,NaN,NaN,...,2.62,14.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
get_panel_df(fn1_df, '수익률 (1개월)(%)').head() # 이걸 쓰는 것이 맞아보임. 위의 수익률은 일별 수익률인데 그냥 마지막날에 맞춘 것일 가능성이 높아보인다.

Symbol,A000010,A000011,A000012,A000020,A000021,A000022,A000023,A000030,A000031,A000032,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,NaN,NaN,NaN,-0.17,NaN,NaN,NaN,NaN,NaN,NaN,...,4.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,NaN,NaN,0.33,NaN,NaN,NaN,NaN,NaN,NaN,...,14.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,1.33,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,10.47,NaN,NaN,NaN,NaN,NaN,NaN,...,50.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,NaN,NaN,2.67,NaN,NaN,NaN,NaN,NaN,NaN,...,2.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
returns_df.shape

(141, 5751)

In [24]:
returns_df.dropna(axis=1, how='all').shape 

# DataGuide에서 데이터 뽑아올 때, 비영업일 제외로 선택하면 월말일이 주말/공휴일일 경우 데이터가 누락됨.

(141, 3101)

In [25]:
returns_df.index

Index(['2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31',
       '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31',
       ...
       '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
       '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-10'],
      dtype='object', name='date', length=141)

In [27]:
nans = returns_df.isnull().all()
nan_tickers = nans[nans].index.tolist()

[ symbol_to_name[ticker] for ticker in nan_tickers ] # 모든 값이 NaN인 종목들. 즉, 현재 존재하지 않는 종목들.

['조흥은행',
 '조흥은행(1신)',
 '조흥은행(2신)',
 '동화약품공업(1신)',
 '동화약품(전환1신)',
 '동화약품(전환2신)',
 '한빛은행(1신)',
 '한국상업은행(2신)',
 '효성기계공업(1신)',
 '효성기계공업(2신)',
 '동양화재(1신)',
 '동양화재(2신)',
 '삼양사(1신)',
 '삼양사(2신)',
 '삼양사(3신)',
 '삼양사(1우1신)',
 '진로(1신)',
 '진로(2신)',
 '진로(1우2신)',
 '진로우',
 '진로(1우1신)',
 '두산상사',
 '두산상사(1신)',
 '유한양행(1신)',
 '유한양행(2신)',
 '유한양행(1우1신)',
 '유한양행2우B',
 '제일은행',
 '제일은행(1신)',
 '제일은행(2신)',
 '대한통운(1신)',
 '대한통운(2신)',
 '한일은행',
 '한일은행(1신)',
 '한일은행(2신)',
 '하이트맥주(1신)',
 '조선맥주 (우선신)',
 '하이트맥주2우B',
 '하이트맥주3우B',
 '두산(1신)',
 '오비맥주(1우1신)',
 '대한중석',
 '대한중석(1신)',
 '대한중석 (2신)',
 'LG금속',
 'LG금속(1신)',
 '성창기업(1신)',
 '대우중공업',
 '대우중공업(1신)',
 '대우중공업(2신)',
 '대우중공업(1우2신)',
 '대우중공우',
 '대우중공업(1우1신)',
 '대림산업(1신)',
 '대림산업(전환1신)',
 '대림산업(1우1신)',
 '대림산업(2우1신)',
 '유유산업(1신)',
 '일동제약(1신)',
 '일동제약(2신)',
 '한국타이어제조(1신)',
 '한국타이어제조(2신)',
 '한국타이어제조(3신)',
 '기아자동차(1신)',
 '기아자동차(2신)',
 '기아자동차(전환1신)',
 '동아건설',
 '동아건설산업(1신)',
 '동아건설산업 (2신)',
 '두레에어메탈(1신)',
 '두레에어메탈(1우2신)',
 '삼선공업1우선',
 '두레에어메탈(1우1신)',
 '해태제과',
 '해태제과(1신)',
 '해태제과(전환1신)',
 '해태제과(2우2신)',
 '해태제과우',
 '해태제과(1우1신)',
 '해태제과2우B',
 '해태제과(2우1신)',
 '대한페인트잉크1신',
 '대한페인트잉크(2신)',
 '대한페인트잉크1우1신',
 '두산백화',
 '두산백화(1신)',
 '삼환기업(1신)',
 '삼환기업(2신)',
 '삼환기업(2우1신)',
 '신동아화재해상(1신)',
 '신동아화재해상(2신)',
 '신동아화재해상(3신)',
 '신동아화재해상(4신)',
 '대아건설',
 '삼화페인트공업(1신)',
 '대한화재(1신)',
 '로케트전기(1신)',
 '로케트전기(2신)',
 '대원강업(1신)',
 '대원강업(2신)',
 '한주통산',
 '한주통산(1신)',
 '한주통산(2신)',
 '그린손해보험',
 '국제화재(1신)',
 '국제화재우',
 '조선내화(1신)',
 '조선내화(2신)',
 '대동공업(1신)',
 '대동공업(2신)',
 '희성전선(1신)',
 '희성전선(2신)',
 '태화',
 '태화(1신)',
 '태화(2신)',
 '태화(3신)',
 '삼일제약(1신)',
 '삼일제약(2신)',
 '대한제지',
 '쌍용화재해상보험1신',
 '쌍용화재해상1우1신',
 '삼덕제지',
 '금호건설',
 '금호건설(1신)',
 '금호건설(2신)',
 '금호건설(전환1신)',
 '금호건설(1우2신)',
 '금호건설1우선',
 '금호건설(1우1신)',
 '금호건설(2우1신)',
 '조선선재(1신)',
 '삼화실업',
 '제일화재',
 '제일화재해상보험1신',
 '제일화재해상보험2신',
 '동아제약(1신)',
 '현대전자산업(1신)',
 '영풍(1신)',
 '국제상사(1신)',
 '국제상사(2신)',
 '한진해운(1신)',
 '현대건설(1신)',
 '현대건설(2신)',
 '현대건설(1우1신)',
 '서울교통공사',
 '세양선박(1신)',
 '세양선박(1전1신)',
 '경남기업(1신)',
 '경남기업우B',
 '삼성화재(1신)',
 '삼성화재(2신)',
 '삼성물산(1신)',
 '삼성물산(1우1신)',
 '한국벨트',
 '한국벨트(1신)',
 '전진산업',
 '한화(1신)',
 '한화(2신)',
 '한화2우B',
 '한화(2우1신)',
 '보해양조(1신)',
 '강원산업',
 '강원산업(1신)',
 '강원산업1우선',
 '강원산업(1우1신)',
 '유니온(1신)',
 '유니온(2신)',
 '한화기계',
 '한화기계(1신)',
 '전방(1신)',
 '전방(2신)',
 '극동건설(1신)',
 '극동건설(2신)',
 '극동건설우',
 '극동건설(1우1신)',
 '동부한농화학(1신)',
 '동부한농화학(2신)',
 '동부한농화학(3신)',
 '세풍(1신)',
 '리젠트화재',
 '해동화재해상보험1신',
 '해동화재해상보험2신',
 '리젠트화재우B',
 '제일제당(1신)',
 '제일제당(1우1신)',
 'CJ2우B',
 'CJ3우B',
 '중외제약(1신)',
 '중외제약(3신)',
 '대한방직(1신)',
 '대한방직(2신)',
 '동서증권',
 '동서증권(1신)',
 '동서증권(2신)',
 '동서증권(1우2신)',
 '동서증권1우선',
 '동서증권(1우1신)',
 '대농(1신)',
 'LG상사(1신)',
 '대한제분(1신)',
 '대한제분(2신)',
 '국보(1신)',
 '국보(2신)',
 '서통',
 '서통(1신)',
 '서통(2신)',
 '서통우',
 '서통(1우1신)',
 '신원제이엠씨',
 '신원제이엠씨(1신)',
 '장은증권',
 '장은증권(1신)',
 '장은증권(2신)',
 '마이크로닉스',
 '대유통상(1신)',
 '대유통상(2신)',
 '서울증권(1신)',
 '서울증권(2신)',
 '서울증권(3신)',
 '금호전기(1신)',
 '금호전기(2신)',
 '동국제강(1신)',
 '동국제강(2신)',
 '쌍용(1신)',
 '쌍용(전환1신)',
 '쌍용(2전1신)',
 '남광토건(1신)',
 '남광토건우B',
 '부국증권(1신)',
 '부국증권(2신)',
 '부국증권(1우1신)',
 '우리증권',
 '한일증권(1신)',
 '한일증권(2신)',
 '대유리젠트증권(1신)',
 '대유리젠트증권(2신)',
 '대유리젠트증권1우2신',
 '대유리젠트증권우',
 '대유리젠트증권1우1신',
 '제일모직(1신)',
 '제일모직(2신)',
 '풍림산업(1신)',
 '풍림산업(2신)',
 '백광산업(1신)',
 '대한모방',
 '대한모방(1신)',
 '대한모방(1우1신)',
 '삼성제약공업(1신)',
 '삼성제약공업 (2신)',
 'FnC코오롱',
 '코오롱상사(1신)',
 '코오롱상사(2신)',
 '코오롱상사(전환1신)',
 '코오롱상사(1우2신)',
 'FnC코오롱우',
 '코오롱상사(1우1신)',
 '코오롱상사(2우2신)',
 '코오롱상사(2우1신)',
 '충남방적(1신)',
 '충남방적(2신)',
 '충남방적(3신)',
 '경기화학공업(1신)',
 '동산씨앤지',
 '기아특수강(1신)',
 '대한전선(1신)',
 '대한전선(2신)',
 '현대해상화재1신',
 '현대해상화재2신',
 '비와이씨(1신)',
 '비와이씨(1우1신)',
 '삼부토건(1신)',
 '천지산업(1신)',
 '천지산업(2신)',
 '신흥증권(1신)',
 'SK증권(1신)',
 'SK증권(2신)',
 'SK증권(3신)',
 'SK증권(1우2신)',
 'SK증권(1우1신)',
 '동양시멘트(1신)',
 '동양시멘트(1우2신)',
 '동양시멘트(1우1신)',
 '조비(1신)',
 '조비(2신)',
 '금양(1신)',
 '금양(2신)',
 '금양(1우)',
 '신광기업',
 '신광기업(1신)',
 '신광기업(2신)',
 '일화모직공업(1신)',
 '서광건설',
 '서광건설산업(1신)',
 '서광건설산업(2신)',
 '두산종합식품',
 '두산종합식품(1신)',
 '두산종식1우',
 '두산종합식품(1우1신)',
 '동국실업(1신)',
 '종근당(1신)',
 '종근당(전환1신)',
 '종근당(전환2신)',
 '경남모직',
 '경남모직(1신)',
 '경남모직(2신)',
 '경남모직우',
 '경남모직(1우1신)',
 '세원(1신)',
 '세원(우선신)',
 '대상2우B',
 '두산테크팩',
 '두산유리(1신)',
 '두산테크팩우',
 '두산유리(1우1신)',
 '두산테크팩2우B',
 '공영토건',
 '공영토건(1신)',
 '공영토건(2신)',
 '공영토건(3신)',
 '신영증권(1신)',
 '신영증권(2신)',
 '신영증권(3신)',
 '신영증권(1우2신)',
 '신영증권(1우1신)',
 '신영증권(2우2신)',
 '신영증권(2우1신)',
 'SK상사(1신)',
 '선경(2신)',
 '선경(3신)',
 '선경(4신)',
 'SK상사(1우1신)',
 '한양증권(1신)',
 '한양증권(2신)',
 '한양증권(1우2신)',
 '한양증권(1우1신)',
 '신화실업(1신)',
 '동양강철(1신)',
 '동양강철우',
 '동양강철(1우1신)',
 '동양강철2우B',
 '대한제당(1신)',
 '대한제당(2신)',
 '대한제당2우B',
 '동양제과(1신)',
 '동양제과(2신)',
 '삼화콘덴서공업(1신)',
 '동부일렉트로닉스',
 '아남반도체(1신)',
 '아남반도체(2신)',
 '아남반도체(전환1신)',
 '동부일렉트로닉우',
 '동부일렉트로2우B',
 '삼호(1신)',
 '영창악기제조(1신)',
 '영창악기제조(2신)',
 '영일화학',
 '한보철강',
 '한보철강공업(1신)',
 '한보철강공업(2신)',
 '효성물산',
 '효성물산(1신)',
 '효성물산(2신)',
 '효성물산(전환1신)',
 '한국철강(1신)',
 '한국철강(2신)',
 '한국철강(3신)',
 '남한제지',
 '남한제지(1신)',
 '남한제지우',
 '신성(1신)',
 '신성(2신)',
 '신성건설우',
 '신성(1우1신)',
 '대호',
 '대호(1신)',
 '자유건설',
 '한국유리공업(1신)',
 '한국유리공업(1우1신)',
 '삼성건설',
 '삼성건설(1신)',
 '삼성건설(2신)',
 '삼성건설우선',
 '코오롱(1신)',
 '코오롱(2신)',
 '코오롱(전환1신)',
 '코오롱(1우2신)',
 '코오롱(1우1신)',
 '코오롱2우B',
 '코오롱(2우2신)',
 '아시아시멘트(1신)',
 '경향건설',
 '경향건설(1신)',
 '경향건설우',
 '경향건설(1우1신)',
 '벽산개발',
 '벽산개발(1신)',
 '경농(1신)',
 '경농(2신)',
 '경농우',
 '피어리스',
 '삼양통상(1신)',
 '삼익건설',
 '삼익건설(1신)',
 '우주종합건설',
 '한국수출포장(1신)',
 '한국수출포장공업2신',
 '한국수출포장공업3신',
 '동성제약(1신)',
 '한일철강(1신)',
 '한일철강(2신)',
 '한일철강(전환1신)',
 '한일철강(1우)',
 '근화제약(1신)',
 '근화제약(2신)',
 '근화제약1우선',
 '근화제약(1우1신)',
 '근화제약2우',
 '롯데삼강(1신)',
 '한국제지(1신)',
 '한국제지(2신)',
 '아세아제지(1신)',
 '한진(1신)',
 '한진(2신)',
 '유성',
 '유성(1신)',
 '우성타이어(1신)',
 '우성타이어(전환1신)',
 '우성타이어 (전환2신)',
 '신호유화(1신)',
 '신호유화(2신)',
 '금강(1신)',
 '한독약품(1신)',
 '범양건영(1신)',
 '범양건영(2신)',
 '미원',
 '미원(1신)',
 '미원1우선',
 '삼익악기(1신)',
 '삼익악기(2신)',
 '삼익악기1우선',
 '화성산업(1신)',
 '화성산업(1우2신)',
 '화성산업(1우)',
 '화성산업(1우1신)',
 '화성산업(2우1신)',
 '화성산업 (4우)',
 '동성(1신)',
 '동성(2신)',
 '벽산건설(1신)',
 '고제',
 '고제(1신)',
 'LG화재(1신)',
 'LG화재(2신)',
 '삼미(1신)',
 '삼미(2신)',
 '삼미(1우2신)',
 '삼미(2우1신)',
 '삼미우',
 '삼미(1우1신)',
 '조흥화학공업(1신)',
 'LGEI',
 'LG전자(1신)',
 'LG전자(2신)',
 'LGEI우',
 'LG전자(1우1신)',
 '제일약품(1신)',
 '제일약품(2신)',
 '오리엔트시계공업1신',
 '미주제강',
 '미주제강1신',
 '신일산업(1신)',
 '신일산업(2신)',
 '동양석판(1신)',
 '국제약품공업(1신)',
 '국제약품공업(2신)',
 '고려증권',
 '고려증권(1신)',
 '고려증권(2신)',
 '고려증권(1우2신)',
 '고려증권1우선',
 '고려증권(1우1신)',
 '동양화학',
 '동양화학공업(1신)',
 '동양화학공업(2신)',
 '동양화학공업(3신)',
 '동양화학공업(4신)',
 '동양화학우',
 '동양화학공업(1우1신)',
 '피죤',
 '보락(1신)',
 '진흥기업(1신)',
 '진흥기업(2신)',
 '태평양(1신)',
 '태평양(2신)',
 '태평양(1우2신)',
 '태평양(1우1신)',
 '태평양(2우1신)',
 '삼영무역(1신)',
 '삼영무역 (전환신)',
 '선창산업(1신)',
 '삼능건설',
 '미원상사(1신)',
 '미원상사(2신)',
 '영풍산업',
 '영풍산업(1신)',
 '영풍산업(2신)',
 '영풍산업(3신)',
 '영풍산업우',
 '영풍산업2우B',
 '하나은행',
 '서울은행(1신)',
 '서울은행(2신)',
 '신풍제지(1신)',
 '동양물산기업(1신)',
 '진성레미컨',
 '진성레미컨(1신)',
 '유성기업(1신)',
 '유성기업(2신)',
 '삼도물산',
 '삼도물산(1신)',
 '삼도물산(2신)',
 '삼도물산(3신)',
 '삼도물산1우선',
 '삼도물산(1우1신)',
 '경동산업',
 '경동산업(1신)',
 '경동산업(전환1신)',
 '두산건설',
 '두산건설(1신)',
 '두산건설(1우2신)',
 '두산건설우',
 '두산건설(1우1신)',
 '두산건설2우B',
 '두산건설(2우1신)',
 '금호타이어(1신)',
 '금호타이어(2신)',
 '금호타이어(1우2신)',
 '금호타이어(1우1신)',
 '부광약품공업(1신)',
 '혜인(1신)',
 '혜인(2신)',
 '남양',
 '남양(1신)',
 '남양(2신)',
 '세아제강(1신)',
 '세아제강(2신)',
 '한일약품',
 '한일약품공업(1신)',
 '한일약품공업(2신)',
 '넥상스코리아',
 '대성전선(1신)',
 '대성전선(2신)',
 '신동방메딕스(1신)',
 '신동방메딕스(2신)',
 '코오롱건설(1신)',
 '코오롱건설(1우1신)',
 '코오롱건설3우B',
 '성보화학 (1신)',
 '성보화학(2신)',
 '대웅제약(1신)',
 '대웅제약(2신)',
 '대일화학',
 '대일화학공업(1신)',
 '일성신약(1신)',
 '디아이(1신)',
 '대원제지공업(1신)',
 '일신방직(1신)',
 '삼양식품(1신)',
 '태광산업(1신)',
 '서광(1신)',
 '흥아해운(1신)',
 '엔케이텔레콤',
 '엔케이텔레콤(1신)',
 '엔케이텔레콤(2신)',
 '한일시멘트공업(1신)',
 '한일시멘트공업(2신)',
 '신한증권',
 '신한증권(1신)',
 '신한증권(2신)',
 '하나증권',
 '보람증권(1신)',
 '보람증권(2신)',
 '보람증권(1우2신)',
 '하나증권우',
 '보람증권(1우1신)',
 '한국화장품(1신)',
 '한국화장품(2신)',
 '쌍용양회공업(1신)',
 '쌍용양회공업(2신)',
 '쌍용양회공업(3신)',
 '쌍용양회공업전환1신',
 '쌍용양회공업(1우1신)',
 '쌍용양회공업(2우1신)',
 '쌍용양회공업(2우2신)',
 '유진화학',
 '현대증권(1신)',
 '현대증권(2신)',
 '유화증권(1신)',
 '유화증권(2신)',
 '동양증권(1신)',
 '동양증권(1우1신)',
 '한진중공업(1신)',
 '한진중공업(2신)',
 '대한항공(1신)',
 '대한항공(2신)',
 '대한항공(1우1신)',
 '대한항공2우B',
 '삼진화학',
 '삼진화학(2신)',
 '영진약품공업(1신)',
 '영진약품공업전환1신',
 '영진약품공업전환2신',
 '영진약품공업(2전1신)',
 '영진약품공업(2전2신)',
 '한화증권(1신)',
 '한화증권(2신)',
 '대신증권(1신)',
 '대신증권(2신)',
 '대신증권(1우2신)',
 '대신증권(1우1신)',
 'LG화학(1신)',
 'LG화학(2신)',
 'LG화학(1우1신)',
 '거평패션(1신)',
 '거평패션(2신)',
 '통일중공업(1신)',
 '통일중공업(2신)',
 '통일중공업(전환1신)',
 '통일중공업(전환2신)',
 '동원(1신)',
 '광덕물산',
 '광덕물산(1신)',
 '광덕물산(2신)',
 '광덕물산우B',
 'SK(1신)',
 'SK(2신)',
 'SK(1우2신)',
 'SK(1우1신)',
 '방림(1신)',
 '쌍용자동차(1신)',
 '쌍용자동차(2신)',
 '쌍용자동차(3신)',
 '쌍용자동차(전환1신)',
 '쌍용자동차(1우1신)',
 '연합철강공업(1신)',
 '미창석유공업(1신)',
 '고려시멘트',
 '고려시멘트제조(1신)',
 '고려시멘트우',
 '한성기업(1신)',
 '한성기업(2신)',
 '대한재보험(1신)',
 '대한재보험(2신)',
 '비락',
 '비락1신',
 '삼영화학공업(1신)',
 '삼영화학공업(2신)',
 '삼영화학공업(3신)',
 '삼영화학공업(4신)',
 '삼영화학공업(2전1신)',
 '진양(1신)',
 '대우',
 '대우(1신)',
 '대우(2신)',
 '대우(3신)',
 '중원',
 '중원(1신)',
 '중원(2신)',
 '보령제약(1신)',
 '성담',
 '삼일공사',
 '해태유업',
 '해태유업(1신)',
 '해태유업우',
 '남양유업(1신)',
 '남양유업(전환1신)',
 '부흥',
 '부흥(1신)',
 '삼양제넥스(1신)',
 '삼양제넥스(전환1신)',
 '삼양제넥스(1우1신)',
 '대림수산(1신)',
 '대림수산 (전우신)',
 '동부산업',
 '동부산업(1신)',
 '동부산업1우선',
 '한일합섬(1신)',
 '한일합섬(1우2신)',
 '한일합섬(1우1신)',
 'BHK',
 '신성무역(1신)',
 '신성무역(2신)',
 '삼성정밀화학(1신)',
 '삼성정밀화학(2신)',
 '삼성정밀화학전환1신',
 '삼성정밀화학전환2신',
 '롯데미도파',
 '미도파(1신)',
 '인천제철(1신)',
 '인천제철(2신)',
 '현대제철 1우B',
 '세계물산(1신)',
 '세계물산(2신)',
 '신흥(1신)',
 '한국석유공업(1신)',
 '한국석유공업(2신)',
 '태양금속공업(1신)',
 '대선주조',
 '대선주조(1신)',
 '대덕산업(1신)',
 '대덕산업(2신)',
 '대덕GDS2우B',
 '동방(1신)',
 '동방전환상환1우B',
 '동방전환상환2우B',
 '동방전환상환3우B',
 '한솔제지(1신)',
 '한솔제지(2신)',
 '한솔제지(3신)',
 '한솔제지(4신)',
 '한솔제지우',
 '한솔제지(1우1신)',
 '신세계(1신)',
 '신세계(2신)',
 '신세계우B',
 '스마텔',
 '고려개발(1신)',
 '고려개발(2신)',
 '고려개발(1우1신)',
 '한일방직',
 '세신',
 '세신실업(1신)',
 '내쇼날프라스틱(1신)',
 '내쇼날프라스틱(2신)',
 '대성자원',
 '남성(1신)',
 '남성(2신)',
 '아시아자동차',
 '아시아자동차공업1신',
 '아시아자동차공업2신',
 '아시아자동차공업3신',
 '아이케이',
 '일경통산(1신)',
 '일경통산(2신)',
 '아이케이우',
 '현대약품공업(1신)',
 '현대약품공업(2신)',
 '유원건설1신',
 '세방기업(1신)',
 '세방기업(2우2신)',
 '세방기업(2우1신)',
 '농심(1신)',
 '삼익공업(1신)',
 '삼익공업(2신)',
 '오리온전기',
 '오리온전기(1신)',
 '오리온전기(2신)',
 '오리온전기(전환1신)',
 '오리온전기(전환2신)',
 '서울식품공업(1신)',
 '서울식품공업전환1신',
 '서울식품공업(1우2신)',
 '동국무역(1신)',
 '동국무역(1전1신)',
 '동국무역(2전1신)',
 '송원산업(1신)',
 '송원산업(2신)',
 '삼화왕관(1신)',
 '고합',
 '고합(1신)',
 '고합(전환1신)',
 '고합(2전2신)',
 '고합우',
 '고합(1우1신)',
 '고합(2우1신)',
 '동방전자',
 '동방전자1신',
 '세방전지(1신)',
 '세방전지(2신)',
 '디와이홀딩스',
 '동양에레베이터(1신)',
 '삼호건설',
 'SY',
 '천광산업(1신)',
 '대한펄프(1신)',
 '대우송도개발',
 '대우자판(1신)',
 '대우송도개발1우',
 '삼미특수강(1신)',
 '삼미특수강(2신)',
 '삼미특수강(3신)',
 '삼미특수강(전환1신)',
 '삼미특수강(1우1신)',
 '삼미특수강(2우1신)',
 '삼미특수강(1우2신)',
 '두산음료',
 '두산음료(1신)',
 '두산음료1우선',
 '두산음료(1우1신)',
 '캠브리지코오롱',
 '캠브리지(1신)',
 '캠브리지(2신)',
 '신동방CP',
 '신동방(1신)',
 '신동방(2신)',
 '삼천리(1신)',
 '삼천리(2신)',
 '조광피혁(1신)',
 '조광피혁(2신)',
 '한솔전자(1신)',
 '한솔전자(2신)',
 '수도약품공업(1신)',
 '수도약품공업(2신)',
 '수도약품공업(3신)',
 '진로종합식품',
 '진로종합식품(1신)',
 '진로종합식품전환1신',
 '진로종합식품1우선',
 '보루네오가구(1신)',
 '보루네오가구(2신)',
 '보루네오가구(3신)',
 '삼우인다스',
 '싸니전기공업(1신)',
 '기륭전자1신',
 '효성티앤씨(1신)',
 '효성티앤씨(2신)',
 '효성티앤씨(3신)',
 '효성티앤씨(4신)',
 '조인에너지',
 '한국금속공업(1신)',
 '덕성화학공업(1신)',
 '덕성화학공업(2신)',
 '덕성2우B',
 '거평(신)',
 '조광페인트(1신)',
 '조광페인트(1우)',
 '조광페인트(1우1신)',
 '삼영모방공업(1신)',
 '한국외환은행(1신)',
 '외환은행우B',
 '외환은행2우B',
 '한신공영(1신)',
 '한신공영(2신)',
 '한신공영(전환1신)',
 '성신양회공업(1신)',
 '성신양회(전환1신)',
 '성신양회공업(1우1신)',
 '롯데제과(1신)',
 '남선물산',
 '남선물산(1신)',
 '신호스틸(1신)',
 '신호스틸우선',
 '장기신용은행',
 '장기신용은행(1신)',
 '장기신용은행(2신)',
 '부산주공(1신)',
 '부산주공(2신)',
 '두산기계',
 '두산기계(1신)',
 '두산기계(2신)',
 '대우통신',
 '대우통신(1신)',
 '대우통신(2신)',
 '대우통신(1우2신)',
 '대우통신(2우2신)',
 '대우통신(1우1신)',
 '대우통신(전환1신)',
 '대우통신(2우1신)',
 '새한미디어(1신)',
 '새한미디어(2신)',
 '새한미디어(전환1신)',
 '쌍용제지',
 '쌍용제지(1신)',
 '쌍용제지1우선',
 '한창(1신)',
 '한창(1전1신)',
 '한창(1전2신)',
 '빙그레(1신)',
 '동성화학(1신)',
 '녹십자(1신)',
 '녹십자(전우신)',
 '대구은행',
 '대구은행(1신)',
 '대구은행(2신)',
 '부산은행',
 '부산은행(1신)',
 '부산은행(2신)',
 '롯데칠성음료(1신)',
 '롯데칠성음료(2신)',
 '국동(1신)',
 '국동(2신)',
 '카스코',
 '기아정기(1신)',
 '기아정기(2신)',
 '봉신',
 '봉신(1신)',
 '봉신(2신)',
 '모나미(1신)',
 '원진1신',
 '현대자동차(1신)',
 '현대자동차(2신)',
 '현대자동차(전환1신)',
 '현대자동차(1우2신)',
 '현대자동차(1우1신)',
 '현대자동차(2우1신)',
 '신성통상(1신)',
 '신성통상(2신)',
 '신광산업',
 '신광산업(1신)',
 '신광산업(2신)',
 '한국티타늄공업(1신)',
 '한국티타늄공업(2신)',
 '한국공항(1신)',
 '금강개발산업(1신)',
 '금강개발산업전환1신',
 '금강개발산업전환2신',
 '신한(1신)',
 '신한(2신)',
 '신한(3신)',
 '한국염공',
 '포항종합제철(1신)',
 '포항종합제철(2신)',
 '삼진제약(1신)',
 '충청은행',
 '충청은행(1신)',
 '충청은행(2신)',
 '진로산업(1신)',
 '삼익주택',
 '삼익주택(1신)',
 '중앙제지',
 '중앙제지(1신)',
 '중앙제지우B',
 '삼립지에프(1신)',
 '대성산업(1신)',
 '대성산업(전환1신)',
 '단암산업',
 '한진건설',
 '한진건설(1신)',
 '한진건설(1전1신)',
 '한진건설(1전2신)',
 '한진건설(1우)',
 '한진건설(2우1신)',
 '푸드웰1신',
 '푸드웰2신',
 '유화(1신)',
 '흥아타이어공업(1신)',
 '흥아타이어공업(2신)',
 '흥아타이어공업1우1신',
 '크라운제과(1신)',
 '대림요업(1신)',
 '대림요업(2신)',
 '대림요업(3신)',
 '위너스인프라인',
 '협진양행(1신)',
 '협진양행(2신)',
 '협진양행(3신)',
 '협진양행(4신)',
 '광주은행',
 '광주은행(1신)',
 '광주은행(2신)',
 '광주은행(3신)',
 '만도기계',
 '만도기계(1신)',
 '만도기계1우선',
 '만도기계2우',
 '신영와코루(1신)',
 '풍산(1신)',
 '풍산(2신)',
 '풍산(전환1신)',
 '풍산(전환2신)',
 '원림(1신)',
 '동부화재(1신)',
 '동부화재(2신)',
 '삼림산업(1신)',
 '대영전자공업(1신)',
 '대한해운(1신)',
 '동원증권',
 '동원증권(1신)',
 '동원증권(2신)',
 '동원증권우',
 '동원증권(1우1신)',
 '동원증권2우B',
 '삼성전자(1신)',
 '삼성전자 (2신)',
 '삼성전자 (3신)',
 '삼성전자 (4신)',
 '삼성전자(1우1신)',
 '삼성전자(전환2신)',
 'LG증권(1신)',
 'LG증권(1우1신)',
 '이수화학(1신)',
 '이수화학(2신)',
 '이수화학(전환1신)',
 '동부건설(1신)',
 '동부건설(2신)',
 '동부건설(1우2신)',
 '동부건설(1우1신)',
 '성지건설 (1신)',
 '남송개발',
 '동원산업(1신)',
 ...]

In [28]:
returns_df.dropna(axis=1, how='all', inplace=True)

univ_list = returns_df.columns

In [29]:
univ_list

Index(['A000020', 'A000030', 'A000040', 'A000050', 'A000060', 'A000070',
       'A000075', 'A000080', 'A000087', 'A000100',
       ...
       'A950110', 'A950130', 'A950140', 'A950160', 'A950170', 'A950180',
       'A950190', 'A950200', 'A950210', 'A950220'],
      dtype='object', name='Symbol', length=3101)

In [30]:
def filter_univ(univ_list, panel_df, is_copy=True):
    if is_copy:
        return panel_df[univ_list].copy()
    else:
        return panel_df[univ_list]

## 데이터셋 생성

In [ ]:
items

array(['종가(원)', '수정계수', '수정주가(원)', '수익률(%)', '수익률 (1개월)(%)',
       '시가총액 (상장예정주식수 포함)(백만원)', '시가총액 (보통-상장예정주식수 포함)(백만원)',
       '상장주식수 (보통)(주)', 'FnGuide Sector', 'FnGuide Industry Group',
       'FnGuide Industry', 'FnGuide Industry Group 27', '거래정지여부',
       '관리종목여부', '보통주자본금(천원)', '자본잉여금(천원)', '이익잉여금(천원)', '자기주식(천원)',
       '이연법인세부채(천원)', '매출액(천원)', '매출원가(천원)', '이자비용(천원)', '영업이익(천원)',
       '총자산(천원)', '기말발행주식수 (보통)(주)'], dtype=object)

#### 그룹

In [31]:
# WICS Groups

sector_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Sector') )
industry_group_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry Group') )
industry_df = filter_univ(univ_list, get_panel_df(fn1_df, 'FnGuide Industry') )

In [32]:
sector_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000075,A000080,A000087,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,의료,금융,경기소비재,경기소비재,금융,산업재,산업재,필수소비재,필수소비재,의료,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,의료,금융,경기소비재,경기소비재,금융,산업재,산업재,필수소비재,필수소비재,의료,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,의료,금융,경기소비재,경기소비재,금융,산업재,산업재,필수소비재,필수소비재,의료,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,의료,금융,경기소비재,경기소비재,금융,산업재,산업재,필수소비재,필수소비재,의료,...,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,의료,금융,경기소비재,경기소비재,금융,산업재,산업재,필수소비재,필수소비재,의료,...,IT,의료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 시장

In [40]:
close_df = filter_univ(univ_list, get_panel_df(fn1_df, '종가(원)') ) 
adjclose_df = filter_univ(univ_list, get_panel_df(fn1_df, '수정주가(원)') )
adjfactor_df = filter_univ(univ_list, get_panel_df(fn1_df, '수정계수') )
monthly_returns_df = filter_univ(univ_list, get_panel_df(fn1_df, '수익률 (1개월)(%)') ) # 수익률은 %로 되어있어 /100 해줘야 함.

all_mkt_cap_df = filter_univ(univ_list, get_panel_df(fn1_df, '시가총액 (상장예정주식수 포함)(백만원)') )
common_mkt_cap_df = filter_univ(univ_list, get_panel_df(fn1_df, '시가총액 (보통-상장예정주식수 포함)(백만원)') )
common_shares_outstanding_df = filter_univ(univ_list, get_panel_df(fn1_df, '기말발행주식수 (보통)(주)') )

is_under_supervision_df = filter_univ(univ_list, get_panel_df(fn1_df, '관리종목여부') )
is_trading_halt_df = filter_univ(univ_list, get_panel_df(fn1_df, '거래정지여부') )

In [42]:
adjclose_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000075,A000080,A000087,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,"6,030",NaN,"8,727","7,874","13,300","67,800","31,950","32,000","16,600","25,873",...,"3,885",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,"6,030",NaN,"8,215","8,220","11,600","69,400","31,250","34,100","17,600","25,168",...,"4,310",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,"6,110",NaN,"8,162","8,456","11,950","70,700","32,750","33,850","19,100","26,930",...,"4,065",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,"6,750",NaN,"8,162","10,650","11,950","93,600","34,500","32,250","22,450","29,609",...,"6,100",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,"6,930",NaN,"8,550","12,425","13,200","88,000","36,000","31,800","20,350","26,155",...,"6,260","11,900",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 재무

In [41]:
common_stock_df = filter_univ(univ_list, get_panel_df(fn1_df, '보통주자본금(천원)') )
capital_surplus_df = filter_univ(univ_list, get_panel_df(fn1_df, '자본잉여금(천원)') )
retained_earnings_df = filter_univ(univ_list, get_panel_df(fn1_df, '이익잉여금(천원)') )
treasury_stock_df = filter_univ(univ_list, get_panel_df(fn1_df, '자기주식(천원)') )
deferred_tax_liabilities_df = filter_univ(univ_list, get_panel_df(fn1_df, '이연법인세부채(천원)') )
sales_revenue_df = filter_univ(univ_list, get_panel_df(fn1_df, '매출액(천원)') )
cost_of_goods_sold_df = filter_univ(univ_list, get_panel_df(fn1_df, '매출원가(천원)') )
interest_expense_df = filter_univ(univ_list, get_panel_df(fn1_df, '이자비용(천원)') )
operating_profit_df = filter_univ(univ_list, get_panel_df(fn1_df, '영업이익(천원)') )
total_assets_df = filter_univ(univ_list, get_panel_df(fn1_df, '총자산(천원)') )

In [44]:
total_assets_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000075,A000080,A000087,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,"316,165,541","340,690,382,000","116,931,646","1,296,989,142","10,172,764,138","2,595,067,569",NaN,"3,553,146,711",NaN,"1,513,968,939",...,"126,398,485","59,189,994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,"316,165,541","340,690,382,000","116,931,646","1,296,989,142","10,172,764,138","2,595,067,569",NaN,"3,553,146,711",NaN,"1,513,968,939",...,"126,398,485","59,189,994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,"316,165,541","340,690,382,000","116,931,646","1,296,989,142","10,172,764,138","2,595,067,569",NaN,"3,553,146,711",NaN,"1,513,968,939",...,"126,398,485","59,189,994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,"316,165,541","340,690,382,000","116,931,646","1,296,989,142","11,052,627,578","2,595,067,569",NaN,"3,553,146,711",NaN,"1,513,968,939",...,"86,879,175","59,189,994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,"316,165,541","340,690,382,000","116,931,646","1,296,989,142","11,052,627,578","2,595,067,569",NaN,"3,553,146,711",NaN,"1,513,968,939",...,"86,879,175","59,189,994",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 데이터셋 추가 전처리

In [80]:
numeric_data = [
    close_df, adjclose_df, adjfactor_df, monthly_returns_df, all_mkt_cap_df, common_mkt_cap_df, common_shares_outstanding_df,
    common_stock_df, capital_surplus_df, retained_earnings_df, treasury_stock_df, deferred_tax_liabilities_df,
    sales_revenue_df, cost_of_goods_sold_df, interest_expense_df, operating_profit_df, total_assets_df
]

In [88]:
for df in numeric_data:
    obj_cols = df.select_dtypes('object').columns
    df[obj_cols] = df[obj_cols].apply(pd.to_numeric, errors='coerce')

In [93]:
monthly_returns_df = monthly_returns_df / 100

In [100]:
is_under_supervision_mapping = {
    '정상': 1,
    '관리': 0,
}

In [98]:
is_trading_halt_mapping = {
    '정상': 1,
    '정지': 0,
}

In [107]:
is_under_supervision_df = is_under_supervision_df.replace(is_under_supervision_mapping)

In [109]:
is_trading_halt_df = is_trading_halt_df.replace(is_trading_halt_mapping)