# 파마프렌치 모델 만들기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [2]:
import warnings

# Suppress all FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
## custom libs
from fndata import FNData

In [4]:
CWD = Path('.').resolve()
DATA_DIR = CWD / 'data'

## 데이터 불러오기

In [5]:
fn1 = DATA_DIR / '고금계과제1_v3.0_201301-202408.csv'

In [6]:
fnd = FNData(fn1)

In [7]:
items = fnd.get_items()

In [8]:
close_df = fnd.get_data('종가(원)')
adjclose_df = fnd.get_data('수정주가(원)')
adjfactor_df = fnd.get_data('수정계수')
monthly_returns_df = fnd.get_data('수익률 (1개월)(%)')

all_mkt_cap_df = fnd.get_data('시가총액 (상장예정주식수 포함)(백만원)')
common_mkt_cap_df = fnd.get_data('시가총액 (보통-상장예정주식수 포함)(백만원)')
common_shares_outstanding_df = fnd.get_data('기말발행주식수 (보통)(주)')

common_stock_df = fnd.get_data('보통주자본금(천원)')
capital_surplus_df = fnd.get_data('자본잉여금(천원)')
retained_earnings_df = fnd.get_data('이익잉여금(천원)')
treasury_stock_df = fnd.get_data('자기주식(천원)')
deferred_tax_liabilities_df = fnd.get_data('이연법인세부채(천원)')
sales_revenue_df = fnd.get_data('매출액(천원)')
cost_of_goods_sold_df = fnd.get_data('매출원가(천원)')
interest_expense_df = fnd.get_data('이자비용(천원)')
operating_profit_df = fnd.get_data('영업이익(천원)')
total_assets_df = fnd.get_data('총자산(천원)')

In [9]:
sales_revenue_df.head()

Symbol,A000020,A000030,A000040,A000050,A000060,A000070,A000075,A000080,A000087,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,220240575.0,0.0,99553272.0,347189559.0,0.0,2.329145e+09,NaN,1.897469e+09,NaN,943609131.0,...,63823847.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,220240575.0,0.0,99553272.0,347189559.0,0.0,2.329145e+09,NaN,1.897469e+09,NaN,943609131.0,...,63823847.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,220240575.0,0.0,99553272.0,347189559.0,0.0,2.329145e+09,NaN,1.897469e+09,NaN,943609131.0,...,63823847.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,220240575.0,0.0,99553272.0,347189559.0,0.0,2.329145e+09,NaN,1.897469e+09,NaN,943609131.0,...,53060470.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,220240575.0,0.0,99553272.0,347189559.0,0.0,2.329145e+09,NaN,1.897469e+09,NaN,943609131.0,...,53060470.0,45840015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Factor Construction