# 금공프 HW5

20249433 최재필

In [1]:
import numpy as np
import pandas as pd

## 1.

In [3]:
np.random.seed(123)

arr = np.random.randn(8, 10)

### (1)

In [5]:
arr.sum(axis=0)

array([-3.68648899, -3.20797062,  1.89628963, -4.31697028, -1.68652947,
        3.31014718,  3.61439765,  2.82609217,  1.68894737,  0.84241575])

### (2)

In [14]:
row_idx, col_idx = np.where(arr > 2)

print(f'row index: {row_idx}')
print(f'column index: {col_idx}')

row index: [1 1 4 4]
column index: [6 7 6 9]

## 2.

In [15]:
values = [0, 1, 2, 3]
index = ['a', 'b', 'c', 'd']

In [16]:
# 1. Create series from list/numpy array
s = pd.Series(data=values, index=index)
s

a    0
b    1
c    2
d    3
dtype: int64

In [17]:
# 2. Create series from dictionary
s = pd.Series(data={k: v for k, v in zip(index, values)})
s

a    0
b    1
c    2
d    3
dtype: int64

In [25]:
# 3. Create series from scalar value
s = pd.Series(data=0, index=index)

s['b'] = 1
s['c'] = 2
s['d'] = 3

s

a    0
b    1
c    2
d    3
dtype: int64

## 3.

In [30]:
Snew = pd.Series({
    'a': 1,
    'b': 4,
    'c': 2,
    'd': 3,
})
Snew

a    1
b    4
c    2
d    3
dtype: int64

In [37]:
# Use index number to access values
Snew[1:3]

b    4
c    2
dtype: int64

In [38]:
# Use index value to access values
Snew[['b', 'c']]

b    4
c    2
dtype: int64

In [39]:
# Use the .loc[] accessor to select elements by index
Snew.loc['b':'c']

b    4
c    2
dtype: int64

In [40]:
# Use the .iloc[] accessor to select elements by position
Snew.iloc[1:3]

b    4
c    2
dtype: int64

## 4

In [41]:
DF = pd.DataFrame(
    data=np.random.randn(6, 7), 
    columns=list('abcdefg'), 
    index=[3, 2, 4, 5, 1, 0],
    )
DF

          a         b         c         d         e         f         g
3  1.255237 -0.688869  1.660952  0.807308 -0.314758 -1.085902 -0.732462
2 -1.212523  2.087113  0.164441  1.150206 -1.267352  0.181035  1.177862
4 -0.335011  1.031114 -1.084568 -1.363472  0.379401 -0.379176  0.642055
5 -1.977888  0.712265  2.598304 -0.024626  0.034142  0.179549 -1.861976
1  0.426147 -1.605410 -0.427680  1.242870 -0.735217  0.501249  1.012739
0  0.278741 -1.370948 -0.332475  1.959411 -2.025046 -0.275786 -0.552108

### (1)

In [43]:
DF.iloc[:, 2:5]

          c         d         e
3  1.660952  0.807308 -0.314758
2  0.164441  1.150206 -1.267352
4 -1.084568 -1.363472  0.379401
5  2.598304 -0.024626  0.034142
1 -0.427680  1.242870 -0.735217
0 -0.332475  1.959411 -2.025046

### (2)

In [44]:
DF[['c', 'd', 'e']]

          c         d         e
3  1.660952  0.807308 -0.314758
2  0.164441  1.150206 -1.267352
4 -1.084568 -1.363472  0.379401
5  2.598304 -0.024626  0.034142
1 -0.427680  1.242870 -0.735217
0 -0.332475  1.959411 -2.025046

## 5.

### (1)

In [47]:
DF.loc[DF['c'] < 0, 'c']

4   -1.084568
1   -0.427680
0   -0.332475
Name: c, dtype: float64

### (2)

In [79]:
DF[(DF['c'] < 0)]['c']

4   -1.084568
1   -0.427680
0   -0.332475
Name: c, dtype: float64